@charset "UTF-8";
:root {
  /* Colores: */
  --unnamed-color-c62a2180: #c62a21;
  --unnamed-color-202846: #202846;
  --unnamed-color-0087c7: #0087c7;
  --unnamed-color-a20007: #a20007;
  --unnamed-color-333333: #333333;
  --unnamed-color-adadad: #adadad;
  --unnamed-color-eeeeee: #eeeeee;
  --unnamed-color-d7030c26: #d7030c;
  --unnamed-color-00912226: #009122;
  --success-color: #009122;
  --unnamed-color-ff5f4326: #ff5f43;
  --error-color: #ff5f43;
  --primary-color: #d7030c;
  --unnamed-color-ffffff: #ffffff;
}

/* Fuentes */
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/assets/font/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("/assets/font/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("/assets/font/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/assets/font/Montserrat-SemiBold.ttf");
}

/* Generales */
p,
h1,
h2 {
  margin: 0;
  font-family: "Montserrat-Regular";
  color: #333333;
}

a {
  font-family: "Montserrat-Medium";
  font-size: 12px;
}

body {
  background-color: white;
  margin: 0;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

.linea-separador {
  top: 7px;
  position: relative;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Arrow y Check*/
.arrow,
.check {
  display: inline-block;
  border-top: 1px solid #da0016;
  border-right: 1px solid #da0016;
}

.arrow {
  width: 8px;
  height: 8px;
}

.check {
  width: 13px;
  height: 5px;
}

.arrow--black {
  border-top: 1px solid #2d2d2d !important;
  border-right: 1px solid #2d2d2d !important;
}

.--rotar {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* Degradado */
.img-degradado {
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--unnamed-color-c62a2180)), to(#631511));
  background-image: -o-linear-gradient(left, var(--unnamed-color-c62a2180), #631511);
  background-image: linear-gradient(to right, var(--unnamed-color-c62a2180), #631511);
}

/* slide 3 - Paso 3a - Finalización cliente – Cuenta cargada – 1*/
.img-degradado--slide3 {
  height: 56px !important;
  padding: 20px;
}

.img-degradado--slide3 p {
  color: white;
}

.img-degradado--slide3 p:nth-child(2) {
  font-family: "Montserrat-Bold";
  font-size: 16px;
}

.img-degradado--slide3 img {
  position: absolute;
  right: 12vw;
  -webkit-transform: translateY(12px);
      -ms-transform: translateY(12px);
          transform: translateY(12px);
}

/* slide 8 -  Paso 3a - Finalización cliente – Más dinero – 2 */
.img-degradado--slide8 {
  height: 168px !important;
  padding-left: 10px;
  gap: 11px;
}

.img-degradado--slide8 p {
  color: white;
}

.img-degradado--slide8 p:nth-child(2) {
  font-family: "Montserrat-Bold";
  font-size: 16px;
}

.img-degradado--slide8 img {
  position: absolute;
  right: 11vw;
  -webkit-transform: translateY(12px);
      -ms-transform: translateY(12px);
          transform: translateY(12px);
  width: 95px;
}

.img-degradado--slide8 button {
  color: var(--primary-color);
}

.img-degradado--slide8 a {
  color: #ffffff;
}

/* Slide 16 -  Paso 4 - No disponible */
.img-degradado--slide16 {
  height: 100px !important;
}

.img-degradado--slide16 p,
.img-degradado--slide16 a {
  color: white;
  margin-left: 12px;
  font-size: 12px;
  padding-right: 17vw;
}

.img-degradado--slide16 p {
  margin-bottom: 10px;
}

.img-degradado--slide16 img {
  position: absolute;
  right: 12vw;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}

/* Alert */
.alert {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 11px 10px;
  gap: 10px;
}

.alert p {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  text-align: center;
}

.alert--succes {
  border: 1px solid var(--success-color);
  background-color: #00912226;
}

.alert--succes p {
  color: var(--success-color);
}

.alert--error {
  border: 1px solid var(--error-color);
  background-color: #ff5f4326;
}

.alert--error p {
  color: var(--error-color);
}

.alert--error a {
  color: var(--primary-color);
}

/* Validación */
.validacion {
  border-radius: 5px;
  border: 1px solid #c62a2126;
  background-color: #d7030c02;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 10px;
}

.validacion img {
  width: 85px;
}

.validacion p,
.validacion a {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  text-align: center;
}

.validacion p {
  color: var(--unnamed-color-333333);
  padding: 11px 00;
}

.validacion a {
  color: var(--primary-color);
}

/* Progress Bar */
.circulo {
  background-color: var(--unnamed-color-d7030c26);
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: relative;
  left: 23px;
  top: 11px;
}

.linea {
  border-right: 2px solid;
  position: relative;
  right: 11px;
}

.linea--roja {
  border-color: var(--primary-color);
}

.linea--gris {
  border-color: var(--unnamed-color-eeeeee);
}

.linea-1 {
  height: 108%;
  top: 11px;
}

.linea-2 {
  height: 99%;
  top: -13px;
}

.linea-3 {
  height: 61%;
  top: -17px;
}

.linea-4 {
  height: 61%;
  top: -17px;
}

/* lSlide1 - Paso 1 - Crédito – 2 */
.linea-2--slide1 {
  height: 96%;
  top: -12px;
}

/*Slide2 - Paso 2 - Identidad – 2 */
.linea-2--slide2 {
  height: 80% !important;
  top: -25px;
}

/* Slide2 - Paso 2 - Identidad – 2 */
.linea-3--slide2 {
  height: 95% !important;
  top: -13px;
}

/* Slide3 - Paso 3a - Finalización cliente – Cuenta cargada – 1 */
.linea-3--slide3 {
  height: 83% !important;
  top: -26px;
}

/* Slide3 - Paso 3a - Finalización cliente – Cuenta cargada – 1 */
.linea-4--slide3 {
  height: 98% !important;
  top: -12px;
}

/* Slide 14 -  Paso 4 - Retiro CDLC  */
.linea-4--slide14 {
  height: 98% !important;
  top: -34px;
}

/* Botones */
.boton {
  height: 38px;
  border-radius: 5px;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  border: var(--primary-color);
  border-style: solid;
  border-width: 1px;
  padding: 0 16px 0 16px;
}

.boton--primary {
  color: white;
  background-color: var(--primary-color);
}

.boton--outline-primary {
  color: var(--primary-color);
  background-color: white;
}

.boton--primary:hover,
.boton--outline-primary:hover,
.boton-small:hover {
  color: white;
  background-color: var(--unnamed-color-a20007);
  border: 1px solid var(--unnamed-color-a20007);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.boton--disabled {
  opacity: 0.5;
}

.boton--vovler {
  margin-right: 15px;
}

.boton-slider {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  border: var(--primary-color);
  border-style: solid;
  border-width: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boton-add {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  font-family: "Montserrat-Bold";
  font-size: 19px;
  border: var(--primary-color);
  border-style: solid;
  border-width: 1px;
  background-color: var(--primary-color);
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.boton-add:hover {
  color: black;
  background-color: var(--unnamed-color-a20007);
  border: var(--unnamed-color-a20007);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.boton-close {
  height: 16px;
  width: 16px;
  font-family: "Montserrat-Bold";
  font-weight: bold;
  font-size: 17px;
  border: none;
  background-color: transparent;
  color: var(--unnamed-color-adadad);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 42%;
}

.boton-close:hover {
  color: black;
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 200;
}

.boton--derecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.boton-small {
  width: 121px;
  height: 26px;
  border-radius: 5px;
  font-family: "Montserrat-Medium";
  font-size: 12px;
  color: var(--primary-color);
  background-color: #d7030c26;
}

.boton-small--default {
  border: none;
}

.boton-small--active {
  border: var(--primary-color);
  border-style: solid;
  border-width: 1px;
}

.botonera-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24.5px;
}

.botonera-small button:nth-child(1) {
  width: 140px;
}

.botonera-small button:nth-child(2) {
  width: 100px;
}

/* Select */
.box-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: -9px;
}

.box-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.box-select select::-ms-expand {
  display: none;
}

.box-select .content-select {
  max-width: 250px;
  position: relative;
}

.box-select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  background: #ffffff;
  color: #eeeeee;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat-Medium";
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.box-select i {
  position: relative;
  right: 20px;
  bottom: 27px;
  width: 8px;
  height: 8px;
  display: block;
  border-left: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* Giramos el cuadrado */
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.box-select :hover i {
  margin-top: 3px;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  height: 39px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* box-input */
.box-input {
  margin-top: 15px;
}

.box-input > p {
  margin-bottom: 9.5px;
}

.box-input div > p {
  margin-top: 5px;
}

/* Checkbox */
input[type="checkbox"] {
  visibility: hidden;
}

.checkbox {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  margin: 0px !important;
  position: relative;
  border: 1px solid #ebebeb;
}

.checkbox label {
  background: transparent;
  display: block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.checkbox input[type="checkbox"]:checked + label {
  display: inline-block;
  border-top: 2px solid #009122;
  border-right: 2px solid #009122;
  width: 9px;
  height: 4px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 3px;
  left: 2px;
}

.checkbox--active {
  display: block;
  background: #00912226;
  width: 14px;
  height: 14px;
  border: 1px solid #009122;
}

/* Input Radio*/
.box-radio {
  display: block;
  position: relative;
  padding-left: 11px;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.box-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #ebebeb;
}

.box-radio:hover input ~ .check-radio {
  background-color: white;
  border: 1px solid #c62a21;
  background-color: #d7030c26;
  height: 14px;
  width: 14px;
}

.box-radio input:checked ~ .check-radio {
  border: 1px solid #c62a21;
  background-color: #d7030c26;
}

.check-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.box-radio input:checked ~ .check-radio:after {
  display: block;
}

.box-radio .check-radio:after {
  left: 3px;
  top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #c62a21;
  border: 1px solid #c62a21;
}

/* Iconos */
.icono img {
  width: 144%;
  z-index: 100;
  position: relative;
}

.icono--disabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Texto */
.title {
  font-family: "Montserrat-Medium";
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  font-weight: 100;
  color: #333333;
}

.card-title {
  font-family: "Montserrat-Bold";
  font-size: 14px;
  text-align: left;
}

.txt-sub-input-medium {
  font-family: "Montserrat-Medium";
  font-size: 9px;
  color: var(--unnamed-color-333333);
}

.txt-input-medium {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  color: var(--unnamed-color-333333);
}

.txt-medium {
  font-family: "Montserrat-Medium";
  font-size: 14px;
}

.txt-hard {
  font-family: "Montserrat-Bold";
  font-size: 18px;
}

.txt-titulo-semi-hard,
.txt-titulo-semi-hard-16 {
  font-family: "Montserrat-SemiBold";
  font-size: 14px;
  font-weight: bold;
  color: var(--unnamed-color-333333);
}

.txt-slider {
  font-family: "Montserrat-Medium";
  font-size: 10px;
  text-align: left;
  color: var(--unnamed-color-adadad);
}

.txt-lateral {
  font-family: "Montserrat-Medium";
  font-size: 20px;
  position: relative;
  left: 50%;
  text-align: left;
}

.txt-lateral--active {
  font-family: "Montserrat-SemiBold";
  font-size: 20px;
}

.txt--rojo {
  color: var(--primary-color) !important;
}

.txt--blanco {
  color: var(--unnamed-color-ffffff) !important;
}

.txt--gris {
  color: var(--unnamed-color-adadad) !important;
}

/* recuadro-cuotas */
.recuadro-cuotas {
  background-color: #d7030c26;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recuadro-cuotas p {
  color: #a20007;
}

.recuadro-cuotas p:nth-child(1) {
  font-family: "Montserrat-Medium";
  font-size: 12px;
}

.recuadro-cuotas p:nth-child(2) {
  font-family: "Montserrat-Bold";
  font-weight: bold;
  font-size: 16px;
}

.recuadro-cuotas p:nth-child(2) br {
  display: none;
}

/* cuenta prepagada */
.cuenta-pregargada {
  display: block;
}

/* cuenta nueva */
.cuenta-nueva {
  display: none;
}

/* cuenta */
.cuenta {
  display: grid;
  grid-template-columns: 59% 39%;
  grid-template-rows: 40% 30% 30%;
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 59px;
  border: 1px solid #e0e0e0;
  padding: 12px 15px 12px 12px;
  border-radius: 5px;
  margin: 13px 0px;
  cursor: pointer;
}

.cuenta p {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  color: var(--unnamed-color-333333);
}

.cuenta p:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: var(--unnamed-color-adadad);
  -o-text-overflow: clip;
     text-overflow: clip;
}

.cuenta p:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.cuenta p:nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  align-self: end;
}

.cuenta p:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: var(--primary-color);
  justify-self: right;
  text-align: right;
}

.cuenta p:nth-child(1),
.cuenta p:nth-child(2),
.cuenta p:nth-child(3) {
  justify-self: left;
}

.cuenta:focus,
.cuenta:active {
  border: 1px solid #c62a2126;
}

.cuenta--active {
  border: 1px solid #c62a2126;
}

/* container__sucursales */
.container__sucursales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 21px;
}

.container__sucursales a {
  margin-top: 10px;
  color: var(--primary-color);
}

/* container__resumen-credito */
.container__resumen-credito {
  border: 1px solid #c62a2126;
  border-radius: 5px;
  background-color: #d7030c03;
  padding: 16px;
  margin: 25px 0px !important;
}

.container__resumen-credito .linea-separador {
  display: none !important;
}

.container__resumen-credito div:nth-child(1) p {
  font-family: "Montserrat-SemiBold";
  color: var(--primary-color);
  font-size: 12px;
}

/* container-radio */
.container-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-radio div {
  margin: 7px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-radio div input {
  bottom: 1px;
  position: relative;
}

.container-radio div div {
  margin: 0px 0px 0px 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* grid-cuotas */
.grid-cuotas .recuadro-cuotas {
  margin-bottom: 19px;
}

/* Card */
.card {
  border-radius: 5px;
  padding: 17px 20px;
}

.card__header {
  height: 49px;
}

.card__header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__terminos-conciciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px 15px;
}

.card__terminos-conciciones p {
  font-family: "Montserrat-Medium";
  font-size: 12px;
  color: var(--unnamed-color-333333);
  text-align: left;
  margin-left: 5px;
}

.card__terminos-conciciones p a {
  color: var(--unnamed-color-0087c7);
}

.card__cuerpo {
  display: block;
}

.card__txt p {
  font-family: "Montserrat-Medium";
  font-size: 9px;
  color: var(--unnamed-color-adadad);
  text-align: left;
}

.card__separador .linea-separador {
  display: none;
}

.card__botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0px 3px 0px;
}

.card--sombra {
  -webkit-box-shadow: 0px 3px 3px 2px #00000029;
          box-shadow: 0px 3px 3px 2px #00000029;
}

.card--active {
  background-color: var(--unnamed-color-ffffff);
}

.card--disabled,
.card--check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 52px;
  padding: 0 20px 0 20px !important;
}

.card--disabled p,
.card--check p {
  font-family: "Montserrat-Medium";
  font-size: 14px;
  text-align: left;
}

.card--check {
  background-color: #d7030c26;
}

.card--check p {
  color: var(--primary-color);
}

.card--check span {
  position: relative;
  left: 4px;
}

.card--disabled {
  background-color: var(--unnamed-color-ffffff);
}

.card--disabled p {
  color: var(--unnamed-color-adadad);
}

/* slide1 - Paso 1 - Crédito – 2 */
.card--slide1 {
  height: 528px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* slide2 - Paso 2 - Identidad – 2 */
.card--slide2 {
  height: 332px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card--slide2 .card__terminos-conciciones {
  margin-top: 0px;
}

/* Slide 3 - Paso 3a - Finalización cliente – Cuenta cargada – 1 */
.card--slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Slide 4 - Paso 3a - Validar identidad – 1 */
.card--slide4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 297px;
  margin: 21px 28px;
}

.card--slide4 .boton--derecha {
  position: relative;
  bottom: 5px;
  left: 5px;
}

.card--slide4 .linea-separador {
  display: none;
}

/* Slide 5 - Paso 3a - Finalización cliente – Validación exitosa */
/* Slide 6 - Paso 3a - Finalización cliente – Nueva cuenta – 2 */
/* Slide 7 - Paso 3a - Finalización cliente – Error validación */
/* Slide 8 - Paso 3a - Finalización cliente – Más dinero – 2 */
.card--slide5,
.card--slide6,
.card--slide7,
.card--slide8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Slide 10 - Paso 3a - Finalización cliente – Más dinero – 3 */
/* Slide 11 - Paso 3 - Finalización no cliente – 2 */
/* Slide 12 - Paso 3 - Finalización no cliente – 3 */
/* Slide 13 - Paso 3 - Finalización no cliente – 3 */
/* Slide 14 -  Paso 4 - Retiro CDLC  */
/* Slide 15 -  Paso 4 - Depósito */
/* Slide 16 -  Paso 4 - No disponible */
.card--slide10,
.card--slide11,
.card--slide12,
.card--slide13,
.card--slide14,
.card--slide15,
.card--slide16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Card__cuerpo--slide */
.card__cuerpo--slide3 > div,
.card__cuerpo--slide5 > div,
.card__cuerpo--slide6 > div,
.card__cuerpo--slide7 > div,
.card__cuerpo--slide8 > div,
.card__cuerpo--slide10 > div,
.card__cuerpo--slide11 > div,
.card__cuerpo--slide12 > div,
.card__cuerpo--slide13 > div {
  margin: 15px 0px;
}

.card__cuerpo--slide3 .alert,
.card__cuerpo--slide5 .alert,
.card__cuerpo--slide6 .alert,
.card__cuerpo--slide7 .alert,
.card__cuerpo--slide8 .alert,
.card__cuerpo--slide10 .alert,
.card__cuerpo--slide11 .alert,
.card__cuerpo--slide12 .alert,
.card__cuerpo--slide13 .alert {
  margin: 24.5px 0px !important;
}

.card__cuerpo--slide3 .alert p:nth-child(2),
.card__cuerpo--slide5 .alert p:nth-child(2),
.card__cuerpo--slide6 .alert p:nth-child(2),
.card__cuerpo--slide7 .alert p:nth-child(2),
.card__cuerpo--slide8 .alert p:nth-child(2),
.card__cuerpo--slide10 .alert p:nth-child(2),
.card__cuerpo--slide11 .alert p:nth-child(2),
.card__cuerpo--slide12 .alert p:nth-child(2),
.card__cuerpo--slide13 .alert p:nth-child(2) {
  font-family: "Montserrat-SemiBold";
  font-weight: bold;
}

.card__cuerpo--slide3 .alert p:nth-child(3),
.card__cuerpo--slide5 .alert p:nth-child(3),
.card__cuerpo--slide6 .alert p:nth-child(3),
.card__cuerpo--slide7 .alert p:nth-child(3),
.card__cuerpo--slide8 .alert p:nth-child(3),
.card__cuerpo--slide10 .alert p:nth-child(3),
.card__cuerpo--slide11 .alert p:nth-child(3),
.card__cuerpo--slide12 .alert p:nth-child(3),
.card__cuerpo--slide13 .alert p:nth-child(3) {
  font-family: "Montserrat-Regular";
}

.card__cuerpo--slide3 div .linea-separador,
.card__cuerpo--slide5 div .linea-separador,
.card__cuerpo--slide6 div .linea-separador,
.card__cuerpo--slide7 div .linea-separador,
.card__cuerpo--slide8 div .linea-separador,
.card__cuerpo--slide10 div .linea-separador,
.card__cuerpo--slide11 div .linea-separador,
.card__cuerpo--slide12 div .linea-separador,
.card__cuerpo--slide13 div .linea-separador {
  display: none;
}

.card__cuerpo--slide14 div:not(div:nth-child(1)),
.card__cuerpo--slide15 div:not(div:nth-child(1)) {
  margin: 13px 0px;
}

.card__cuerpo--slide14 div .linea-separador,
.card__cuerpo--slide15 div .linea-separador {
  display: none;
}

/* slide3 - Paso 3a - Finalización cliente – Cuenta cargada – 1 */
.card__cuerpo--slide3 {
  height: 691px;
}

/* slide5 - Paso 3a - Finalización cliente – Validación exitosa */
.card__cuerpo--slide5 {
  height: 802px;
  margin-top: 15px;
}

/* Slide 6 - Paso 3a - Finalización cliente - Nueva cuenta */
.card__cuerpo--slide6 {
  height: 1145px;
}

/* Slide 7 - Paso 3a - Finalización cliente – Error validación */
.card__cuerpo--slide7 {
  height: 717px;
  margin-top: 15px;
}

.card__cuerpo--slide7 .alert {
  margin: 24.5px 0px 0 !important;
}

/* Slide 8 -  Paso 3a - Finalización cliente – Más dinero – 2 */
.card__cuerpo--slide8 {
  height: 859px;
}

/* slide10 - Paso 3a - Finalización cliente – Más dinero – 3 */
.card__cuerpo--slide10 {
  height: 971px;
}

/* Slide 11 - Paso 3 - Finalización no cliente – 2 */
.card__cuerpo--slide11 {
  height: 879px;
}

.card__cuerpo--slide11 .container-cuenta {
  margin-bottom: 24px !important;
}

.card__cuerpo--slide11 div:nth-child(9) .txt-sub-input-medium {
  display: none;
}

/* Slide 12 - Paso 3 - Finalización no cliente – 3 */
.card__cuerpo--slide12 {
  height: 1232px;
}

/* Slide 13 - Paso 3 - Finalización no cliente – 3 */
.card__cuerpo--slide13 {
  height: 415px;
}

.card__cuerpo--slide13 div .linea-separador {
  display: none;
}

/* Slide 14 -  Paso 4 - Retiro CDLC  */
.card__cuerpo--slide14 {
  height: 403px;
}

/* Slide 15 -  Paso 4 - Depósito */
.card__cuerpo--slide15 {
  height: 349px;
}

/* Slide 16 -  Paso 4 - No disponible */
.card__cuerpo--slide16 {
  height: 143px;
}

.card__cuerpo--slide16 .txt-titulo-semi-hard {
  margin-bottom: 15px;
}

.card__cuerpo--slide16 .linea--15 {
  display: none;
}

.modal__cuerpo {
  display: grid;
  grid-template-rows: 68px repeat(4, 120px);
  margin: 20px 20px 0px;
}

.modal__cuerpo div:nth-child(1) p br {
  display: none;
}

.modal__cuerpo div:not(div:nth-child(1)) {
  height: 90px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  margin: 15px 0px;
  border: 1px dotted #eeeeee;
}

.modal__cuerpo div:not(div:nth-child(1)) img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.modal__cuerpo div:not(div:nth-child(1)) p {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: left;
  font-family: "Montserrat-Medium";
  font-size: 12px;
  text-align: left;
  padding: 0px 16px 0px 5px;
  color: var(--unnamed-color-adadad);
}

.modal__cuerpo div:not(div:nth-child(1)) button {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.modal__cuerpo div:not(div:nth-child(1)):nth-child(2) img, .modal__cuerpo div:not(div:nth-child(1)):nth-child(3) img {
  width: 85px;
  margin-top: 17px;
}

.modal__cuerpo div:not(div:nth-child(1)):nth-child(4) img, .modal__cuerpo div:not(div:nth-child(1)):nth-child(5) img {
  width: 65px;
  margin-top: 18px;
}

/* Input */
.input {
  width: calc(100% - 12px);
  border-radius: 5px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  font-family: "Montserrat-Medium";
  color: Var(--unnamed-color-333333);
  padding-left: 12px;
}

.input--margin {
  margin: 10px 0px 15px 0px;
}

.input--disabled {
  background-color: var(--unnamed-color-eeeeee);
  color: var(--unnamed-color-adadad);
}

.input--error {
  background-color: #ff5f4326;
  color: #ff5140;
  border: 1px solid #ff5140;
}

.input::-webkit-input-placeholder {
  color: var(--unnamed-color-adadad);
  opacity: 1;
}

.input::-moz-placeholder {
  color: var(--unnamed-color-adadad);
  opacity: 1;
}

.input:-ms-input-placeholder {
  color: var(--unnamed-color-adadad);
  opacity: 1;
}

.input::-ms-input-placeholder {
  color: var(--unnamed-color-adadad);
  opacity: 1;
}

.input::placeholder {
  color: var(--unnamed-color-adadad);
  opacity: 1;
}

.container-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.container-input input {
  width: auto;
}

.container-input--error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.container-input--error p {
  color: #ff5140;
}

/* Slider */
.range-slider.grad {
  --progress-flll-shadow: var(--progress-shadow);
  --fill-color: linear-gradient(
    to right,
    var(--unnamed-color-c62a2180),
    #631511
  );
  --thumb-shadow: 0 0 4px rgba(0, 0, 0, 0.3),
    -3px 9px 9px rgba(248, 36, 36, 0.33) inset,
    -1px 3px 2px rgba(255, 28, 28, 0.33) inset, 0 0 0 99px #631511 inset;
}

.range-slider.grad input:hover {
  --thumb-transform: scale(1);
}

.range-slider.grad input:active {
  --thumb-shadow: inherit;
  --thumb-transform: scale(1.3);
}

.range-slider {
  width: 106%;
  justify-self: center;
  --value-offset-y: var(--ticks-gap);
  --value-active-color: white;
  --value-background: transparent;
  --value-background-hover: var(--primary-color);
  --value-font: 700 12px/1 Arial;
  --fill-color: var(--primary-color);
  --progress-background: #eeeeee;
  --progress-radius: 20px;
  --track-height: 4px;
  --min-max-font: 12px $mont-m;
  --min-max-opacity: 0.5;
  --min-max-x-offset: 10%;
  --thumb-size: 12px;
  --thumb-color: white;
  --thumb-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 0 0 99px var(--thumb-color) inset;
  --thumb-shadow-active: 0 0 0 calc(var(--thumb-size) / 4) inset
      var(--thumb-color),
    0 0 0 99px var(--primary-color) inset, 0 0 3px rgba(0, 0, 0, 0.4);
  --thumb-shadow-hover: var(--thumb-shadow);
  --ticks-thickness: 0px;
  --ticks-height: 0px;
  --ticks-gap: var(
    --ticks-height,
    0
  );
  --ticks-color: transparent;
  --step: 1;
  --ticks-count: Calc(var(--max) - var(--min)) / var(--step);
  --maxTicksAllowed: 30;
  --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
  --x-step: Max(
    var(--step),
    var(--too-many-ticks) * (var(--max) - var(--min))
  );
  --tickInterval: 100/ ((var(--max) - var(--min)) / var(--step)) * var(--tickEvery, 1);
  --tickIntervalPerc: calc(
    (100% - var(--thumb-size)) / ((var(--max) - var(--min)) / var(--x-step)) *
      var(--tickEvery, 1)
  );
  --value-a: Clamp(
    var(--min),
    var(--value, 0),
    var(--max)
  );
  --value-b: var(--value, 0);
  --text-value-a: var(--text-value, "");
  --completed-a: calc(
    (var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100
  );
  --completed-b: calc(
    (var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100
  );
  --ca: Min(var(--completed-a), var(--completed-b));
  --cb: Max(var(--completed-a), var(--completed-b));
  --thumbs-too-close: Clamp(
    -1,
    1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001),
    1
  );
  --thumb-close-to-min: Min(1, Max(var(--ca) - 2, 0));
  --thumb-close-to-max: Min(1, Max(98 - var(--cb), 0));
  display: inline-block;
  height: Max(var(--track-height), var(--thumb-size));
  background: -o-linear-gradient(left, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
  background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
  background-size: var(--tickIntervalPerc) var(--ticks-height);
  background-position-x: calc( var(--thumb-size) / 2 - var(--ticks-thickness) / 2);
  background-position-y: var(--flip-y, bottom);
  padding-bottom: var(--flip-y, var(--ticks-gap));
  padding-top: calc(var(--flip-y) * var(--ticks-gap));
  position: relative;
  z-index: 1;
}

.range-slider[data-ticks-position="top"] {
  --flip-y: 1;
}

.range-slider__progress {
  --start-end: calc(var(--thumb-size) / 2);
  --clip-end: calc(100% - (var(--cb)) * 1%);
  --clip-start: calc(var(--ca) * 1%);
  --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
  position: absolute;
  left: var(--start-end);
  right: var(--start-end);
  top: calc( var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2);
  height: calc(var(--track-height));
  background: var(--progress-background, #eee);
  pointer-events: none;
  z-index: -1;
  border-radius: var(--progress-radius);
}

.range-slider__progress::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
  top: 0;
  bottom: 0;
  background: var(--fill-color, black);
  -webkit-box-shadow: var(--progress-flll-shadow);
          box-shadow: var(--progress-flll-shadow);
  z-index: 1;
  border-radius: inherit;
}

.range-slider__progress::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: var(--progress-shadow);
          box-shadow: var(--progress-shadow);
  pointer-events: none;
  border-radius: inherit;
}

.range-slider > input {
  -webkit-appearance: none;
  width: 100%;
  height: var(--thumb-size);
  margin: 0;
  position: absolute;
  left: 0;
  top: calc( 50% - Max(var(--track-height), var(--thumb-size)) / 2 + calc(var(--ticks-gap) / 2 * var(--flip-y, -1)));
  cursor: -webkit-grab;
  cursor: grab;
  outline: none;
  background: none;
}

.range-slider > input:not(:only-of-type) {
  pointer-events: none;
}

.range-slider > input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  -webkit-transform: var(--thumb-transform);
          transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  -webkit-box-shadow: var(--thumb-shadow);
          box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.range-slider > input::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  -moz-transition: 0.1s;
  transition: 0.1s;
}

.range-slider > input::-ms-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  -ms-transform: var(--thumb-transform);
      transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  -ms-transition: 0.1s;
  transition: 0.1s;
}

.range-slider > input:hover {
  --thumb-shadow: var(--thumb-shadow-hover);
}

.range-slider > input:hover + output {
  --value-background: var(--value-background-hover);
  --y-offset: -5px;
  color: var(--value-active-color);
  -webkit-box-shadow: 0 0 0 3px var(--value-background);
          box-shadow: 0 0 0 3px var(--value-background);
}

.range-slider > input:active {
  --thumb-shadow: var(--thumb-shadow-active);
  cursor: -webkit-grabbing;
  cursor: grabbing;
  z-index: 2;
}

.range-slider > input:active + output {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.range-slider > input:nth-of-type(2) {
  --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999, 1);
}

.range-slider > input:nth-of-type(2) + output {
  --value: var(--value-b);
}

.range-slider > input:only-of-type ~ .range-slider__progress {
  --clip-start: 0;
}

.range-slider > input + output {
  --flip: -1;
  --x-offset: calc(var(--completed-b) * -1%);
  --pos: calc(
        ((var(--value) - var(--min)) / (var(--max) - var(--min))) * 100%
      );
  pointer-events: none;
  position: absolute;
  z-index: 5;
  background: var(--value-background);
  border-radius: 10px;
  padding: 2px 4px;
  left: var(--pos);
  -webkit-transform: translate(var(--x-offset), calc( 150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip)));
      -ms-transform: translate(var(--x-offset), calc( 150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip)));
          transform: translate(var(--x-offset), calc( 150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip)));
  -webkit-transition: all 0.12s ease-out, left 0s;
  -o-transition: all 0.12s ease-out, left 0s;
  transition: all 0.12s ease-out, left 0s;
}

/* Fin Slider*/
.cartel-input-moneda {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: 67px;
  background-color: #d7030c26;
  -webkit-transition: all 0.4s 1s;
  -o-transition: all 0.4s 1s;
  transition: all 0.4s 1s;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  margin: 5px 0px;
}

.cartel-input-moneda p {
  font-family: "Montserrat-Medium";
  font-size: 9px;
  text-align: center;
  margin: 0 5px;
}

.cartel-input-moneda .input {
  width: 100px;
  font-family: "Montserrat-Bold";
  font-size: 18px;
  text-align: center;
  padding: 0 5px;
}

.cartel-input-moneda .boton {
  font-size: 9px;
  width: 50px;
  padding: 0 5px;
  margin: 0 10px;
}

.input-label {
  font-family: "Montserrat-Bold";
  font-size: 20px;
  color: #333333;
  width: 50px;
  height: 21px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  margin: 0 0 10px 0;
  text-align: right;
}

.input-label--moneda {
  width: 90px !important;
}

.input-label--moneda::before {
  content: "$";
  font-size: 15px;
  left: 3px;
  margin-right: -10px;
  position: relative;
}

.input-label:active,
.input-label:focus {
  border: 1px solid #e0e0e0;
}

.input-label:focus-visible {
  outline: none;
}

.contenedor-input-moneda {
  font-family: "Montserrat-Bold";
  font-size: 20px;
  color: #333333;
  height: 21px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
}

/* ----- ----- ----- ----- ----- */
.navbar {
  height: 56px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.navbar--sombra {
  -webkit-box-shadow: 0px 0px 3px 3px #00000029;
          box-shadow: 0px 0px 3px 3px #00000029;
  z-index: 10;
}

.logo {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cuerpo {
  background-color: #f7f8f9;
  padding: 7%;
  display: grid;
  row-gap: 14px;
  grid-template-columns: 39px 87%;
  grid-template-areas: "i-linea  titulo" "i-sim    simulador" "i-sob    sobre-vos" "i-forma  forma-retiro" "i-est    estado-final";
}

/* Slide 1 - Paso 1 - Crédito – 2 */
.cuerpo--slide1 {
  grid-template-rows: 24px 561px 52px 52px 52px;
}

/* Slide 2 - Paso 2 - Identidad – 2 */
.cuerpo--slide2 {
  grid-template-rows: 24px 52px 366px 52px 52px !important;
}

/* Slide 3 - Paso 3a - Finalización cliente – Cuenta cargada – 1 */
.cuerpo--slide3 {
  grid-template-rows: 24px 52px 52px 845px 52px !important;
}

/* Slide 4 - Paso 3a - Validar identidad – 1 */
.modal {
  height: 739px;
  width: 393px;
}

/* slide5 - Paso 3a - Finalización cliente – Validación exitosa */
.cuerpo--slide5 {
  grid-template-rows: 24px 52px 52px 958px 52px !important;
}

/* Slide 6 - Paso 3a - Finalización cliente - Nueva cuenta */
.cuerpo--slide6 {
  grid-template-rows: 24px 52px 52px 1286px 52px !important;
}

/* Slide 7 - Paso 3a - Finalización cliente – Error validación */
.cuerpo--slide7 {
  grid-template-rows: 24px 52px 52px 773px 52px !important;
}

/* Slide 8 -  Paso 3a - Finalización cliente – Más dinero – 2 */
.cuerpo--slide8 {
  grid-template-rows: 24px 52px 52px 1013px 52px !important;
}

/* Slide 10 -  Paso 3a - Finalización cliente – Más dinero – 3 */
.cuerpo--slide10 {
  grid-template-rows: 24px 52px 52px 1125px 52px;
}

/* Slide 11 - Paso 3 - Finalización no cliente – 2 */
.cuerpo--slide11 {
  grid-template-rows: 24px 52px 52px 1033px 52px !important;
}

/* Slide 12 - Paso 3 - Finalización no cliente – 3 */
.cuerpo--slide12 {
  grid-template-rows: 24px 52px 52px 1397px 52px !important;
}

/* Slide 13 - Paso 3a - Finalización CDLC */
.cuerpo--slide13 {
  grid-template-rows: 24px 52px 52px 569px 52px !important;
}

/* Slide 14 -  Paso 4 - Retiro CDLC  */
.cuerpo--slide14 {
  grid-template-rows: 24px 52px 52px 52px 557px !important;
}

/* Slide 15 -  Paso 4 - Depósito */
.cuerpo--slide15 {
  grid-template-rows: 24px 52px 52px 52px 503px !important;
}

/* Slide 15 -  Paso 4 - No disponible */
.cuerpo--slide16 {
  grid-template-rows: 24px 52px 52px 52px 297px !important;
}

/*mobile*/
.lat-top {
  grid-area: lat-top;
  display: none;
}

/*desktop y mobile*/
.i-linea {
  grid-area: i-linea;
}

/*desktop y mobile*/
.titulo {
  grid-area: titulo;
}

/*desktop y mobile*/
.i-sim {
  grid-area: i-sim;
}

/*desktop y mobile*/
.simulador {
  grid-area: simulador;
}

.simulador--active {
  height: 537px;
  background-color: var(--unnamed-color-ffffff);
}

/*desktop y mobile*/
.i-sob {
  grid-area: i-sob;
}

/*desktop y mobile*/
.sobre-vos {
  grid-area: sobre-vos;
}

/*desktop y mobile*/
.i-forma {
  grid-area: i-forma;
}

/*desktop y mobile*/
.forma-retiro {
  grid-area: forma-retiro;
}

/*desktop y mobile*/
.i-est {
  grid-area: i-est;
}

/*desktop y mobile*/
.estado-final {
  grid-area: estado-final;
}

/*mobile*/
.lateral-sim {
  grid-area: lateral-sim;
  display: none;
}

/*mobile*/
.lateral-sob {
  grid-area: lateral-sob;
  display: none;
}

/*mobile*/
.lateral-forma {
  grid-area: lateral-forma;
  display: none;
}

/*mobile*/
.lateral-est {
  grid-area: lateral-est;
  display: none;
}

/*mobile*/
.lat-bot {
  grid-area: lat-bot;
  display: none;
}

/*mobile*/
.i-foot {
  grid-area: i-foot;
  display: none;
}

/*mobile*/
.foot {
  grid-area: foot;
  display: none;
}

.simulador__slider {
  margin-bottom: 0px;
}

.simulador__slider .slider-range {
  display: grid;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 31px;
  grid-template-columns: 28px 1fr 1fr 28px;
  grid-template-rows: 30px 22px 15px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  /*label quiero - cuantas cuotas*/
  /*input $XXXXX*/
  /*boton (-)*/
  /*label $XXXX*/
  /*slider*/
  /*label $XXXXX*/
  /*boton (+)*/
}

.simulador__slider .slider-range :nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 /2;
  text-align: left;
  white-space: nowrap;
}

.simulador__slider .slider-range :nth-child(2) {
  grid-column: 3 / 5;
  grid-row: 1 /2;
  text-align: right;
  justify-self: right;
}

.simulador__slider .slider-range :nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 /4;
  justify-self: left;
}

.simulador__slider .slider-range :nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: left;
}

.simulador__slider .slider-range :nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  position: relative;
  top: 3px;
}

.simulador__slider .slider-range :nth-child(6) {
  grid-column: 3 / 4;
  grid-row: 3 /4;
  text-align: right;
}

.simulador__slider .slider-range :nth-child(7) {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
  justify-self: right;
}

.simulador__img {
  height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.simulador__img p {
  color: white;
  margin-left: 14px;
}

.simulador__img p:nth-child(2) {
  font-family: "Montserrat-Bold";
  font-size: 24px;
}

.simulador__img img {
  position: absolute;
  right: 10vw;
  -webkit-transform: translateY(24px);
      -ms-transform: translateY(24px);
          transform: translateY(24px);
}

.simulador__img--degradado {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--unnamed-color-c62a2180)), to(#631511));
  background-image: -o-linear-gradient(left, var(--unnamed-color-c62a2180), #631511);
  background-image: linear-gradient(to right, var(--unnamed-color-c62a2180), #631511);
}

.simulador__img--degradado .txt-medium {
  margin-bottom: 3px;
}

.simulador__cuota {
  margin: 21px 0px 30px 0px;
  text-align: center;
}

.simulador__cuota p:nth-child(2) {
  font-family: "Montserrat-Bold";
  font-size: 18px;
  color: var(--primary-color);
  margin-top: 6px;
}

.datos--slide2 {
  margin-top: 0px;
}

.footer {
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--unnamed-color-eeeeee);
}

.footer__txt {
  padding: 14px 36px 12px 35px;
}

.footer__txt p {
  font-family: "Montserrat-Regular";
  font-size: 10px;
  text-align: center;
  line-height: 1.3;
}

.cuerpo-final {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c62a21), to(#631511));
  background-image: -o-linear-gradient(top, #c62a21, #631511);
  background-image: linear-gradient(to bottom, #c62a21, #631511);
}

.cuerpo-final h2 {
  color: white;
  font-family: "Montserrat-Bold";
  font-size: 22px;
}

.cuerpo-final p {
  color: white;
  font-family: "Montserrat-Medium";
  font-size: 16px;
}

.cuerpo-final p br:nth-child(2) {
  display: none;
}

.cuerpo-final .boton {
  color: var(--primary-color);
}

.cuerpo-final--deposito p br:nth-child(2) {
  display: block !important;
}

/* +++++ +++++ ++++++ ++++++ +++++ +++++ */
/* +++++ +++++ ++++++ ++++++ +++++ +++++ */
/* +++++ +++++ Media Queries +++++ +++++ */
/* +++++ +++++ ++++++ ++++++ +++++ +++++ */
/* +++++ +++++ ++++++ ++++++ +++++ +++++ */
@media (min-width: 576px) {
  /* Generales */
  .body {
    height: 100vh;
    width: 100vw;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .relleno {
    display: block;
  }
  /* slide2 - Slide2 - Paso 2 - Identidad – 2 */
  .relleno--slide2 {
    height: 218px;
  }
  /* Alert */
  .alert {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  .alert p {
    font-size: 14px;
  }
  /* Validación */
  .validacion {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-column-gap: 6%;
    height: 136px;
  }
  .validacion img:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 125px;
  }
  .validacion p:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 14px;
    text-align: left;
    margin-left: 31px;
  }
  .validacion a:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 16px;
    text-align: left;
    margin-left: 31px;
    bottom: 15px;
    position: relative;
  }
  /* Progress Bar */
  .circulo {
    left: 0px;
    height: 12px;
    width: 12px;
    top: 60px;
  }
  .linea {
    border-width: 4px;
    z-index: 200;
  }
  .linea-1 {
    right: 8px;
    height: 88px;
    top: 70px;
  }
  .linea-2,
  .linea-3,
  .linea-4 {
    right: 30px;
  }
  /* linea-2 - Slide2 - Paso 2 - Identidad – 2 */
  .linea-2--slide2 {
    height: 63% !important;
  }
  /* linea-3 - Slide2 - Paso 2 - Identidad – 2 */
  .linea-3--slide2 {
    top: -9px;
  }
  /* Botones */
  .boton-slider {
    height: 28px;
    width: 28px;
    font-size: 21px;
  }
  .botonera-small {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px;
  }
  /* Slider*/
  .range-slider {
    --thumb-size: 16px;
    --track-height: 7px;
    height: Max(var(--track-height), var(--thumb-size));
    width: 103%;
  }
  /* Texto */
  .title {
    font-size: 32px;
    padding-left: 21px;
  }
  .card-title {
    font-family: "Montserrat-Bold";
    font-size: 14px;
    text-align: left;
  }
  .txt-sub-input-medium {
    font-size: 11px;
  }
  .txt-input-medium {
    font-size: 14px;
  }
  .txt-medium {
    font-size: 16px;
  }
  .txt-semi-hard {
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
  }
  .txt-hard {
    font-size: 20px;
  }
  .txt-titulo-semi-hard {
    font-size: 18px;
  }
  .txt-titulo-semi-hard-16 {
    font-size: 16px;
  }
  .txt-slider {
    font-size: 12px;
  }
  /* Slide 16 -  Paso 4 - No disponible */
  .img-degradado--slide16 {
    height: 120px !important;
  }
  .img-degradado--slide16 p,
  .img-degradado--slide16 a {
    color: white;
    margin-left: 12px;
    font-size: 14px !important;
    padding-right: 17vw;
  }
  .img-degradado--slide16 a {
    font-size: 16px !important;
  }
  /* cuenta-pregargada */
  .cuenta-pregargada .txt-medium {
    font-size: 16px;
  }
  .cuenta-pregargada .box-cuentas {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: repeat(auto-fill, 100px);
    -webkit-column-gap: 4%;
       -moz-column-gap: 4%;
            column-gap: 4%;
  }
  /* cuenta-nueva*/
  .cuenta-nueva {
    grid-template-columns: 48% 48%;
    grid-template-rows: 120px 100px 100px;
    -webkit-column-gap: 4%;
       -moz-column-gap: 4%;
            column-gap: 4%;
  }
  /* Container Cuenta */
  .container-cuenta {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 37px 120px 100px 100px;
    -webkit-column-gap: 4%;
       -moz-column-gap: 4%;
            column-gap: 4%;
  }
  .container-cuenta--medio {
    grid-template-rows: 126px 106px 104px !important;
  }
  .container-cuenta--chico {
    grid-template-rows: 90px 40px !important;
  }
  .container-cuenta--chico .txt-sub-input-medium {
    display: none;
  }
  .container__sucursales p {
    font-size: 14px;
  }
  .container__sucursales a {
    font-size: 16px;
  }
  .container__resumen-credito {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    grid-template-rows: 18px repeat(4, 60px);
  }
  .container__resumen-credito .linea-separador {
    display: block !important;
  }
  .container__resumen-credito div:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .container__resumen-credito div:nth-child(1) p {
    font-size: 14px;
  }
  .container__resumen-credito div:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .container__resumen-credito div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .container__resumen-credito div:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .container__resumen-credito div:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
  .container__resumen-credito div:nth-child(6) {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }
  /* Grid cuotas*/
  .grid-cuotas {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 26px 0px 30px !important;
  }
  .grid-cuotas .recuadro-cuotas,
  .grid-cuotas .img-degradado {
    height: 152px !important;
    padding: 16px 20px;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin: 0 !important;
  }
  .grid-cuotas .recuadro-cuotas p:nth-child(1) {
    font-size: 21px;
  }
  .grid-cuotas .recuadro-cuotas p:nth-child(2) {
    font-size: 26px;
  }
  .grid-cuotas .recuadro-cuotas p:nth-child(2) br {
    display: block;
  }
  .grid-cuotas .img-degradado p:nth-child(1) {
    font-size: 16px !important;
  }
  .grid-cuotas .img-degradado p:nth-child(2) br {
    display: block;
  }
  .grid-cuotas .img-degradado a {
    font-size: 16px;
  }
  .grid-cuotas .img-degradado img {
    width: 12% !important;
    right: 2vw !important;
  }
  /* Card */
  .card {
    border-radius: 6px;
    padding: 45px 45px 15px 52px;
  }
  .card__header {
    display: none;
  }
  .card__cuerpo > div {
    margin: 15px 0px;
  }
  .card__cuerpo .img-degradado {
    margin: 38px 0px;
    height: 106px;
  }
  .card__cuerpo .img-degradado p br {
    display: none;
  }
  .card__cuerpo .img-degradado p:nth-child(1) {
    font-size: 18px;
  }
  .card__cuerpo .img-degradado p:nth-child(2) {
    font-size: 20px;
  }
  .card__cuerpo .img-degradado img {
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
    width: 133px;
    right: 8vw;
  }
  .card__cuerpo div p.txt-titulo-semi-hard {
    font-size: 16px;
  }
  .card__cuerpo .container-radio {
    display: grid;
    grid-template-columns: 46% 46%;
    grid-column-gap: 6%;
  }
  .card__cuerpo .alert {
    margin: 19px 0px !important;
  }
  .card__cuerpo .alert p br {
    display: none;
  }
  .card__txt {
    height: 13px;
    margin: 0;
  }
  .card__txt p {
    font-size: 10px;
  }
  .card__txt hr {
    top: 1px;
  }
  .card__separador .linea-separador {
    display: block;
  }
  .card__botones {
    margin: 15px 0px 0px 0px;
  }
  .card--active {
    height: 478px;
    width: calc(70% + 30px);
    right: 30px;
    position: relative;
    bottom: 30px;
  }
  .card--disabled,
  .card--check {
    display: none;
  }
  /* slide1 - Paso 1 - Crédito – 2 */
  .card--slide1 {
    height: 474px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* slide2 - Paso 2 - Identidad – 2 */
  .card--slide2 {
    height: 438px !important;
    bottom: 136px !important;
  }
  /* slide3 - Paso 3a - Finalización cliente – Cuenta cargada – 1 */
  .card--slide3 {
    height: 716px !important;
    bottom: 240px !important;
  }
  /* slide5 - Paso 3a - Finalización cliente – Validación exitosa */
  .card--slide5 {
    height: 724px !important;
    bottom: 240px !important;
  }
  /* Slide 6 - Paso 3a - Finalización cliente - Nueva cuenta */
  .card--slide6 {
    height: 933px !important;
    bottom: 240px !important;
  }
  /* Slide 7 - Paso 3a - Finalización cliente – Error validación */
  .card--slide7 {
    height: 638px !important;
    bottom: 240px !important;
  }
  /* slide8 -  Paso 3a - Finalización cliente – Más dinero – 2 */
  .card--slide8 {
    height: 775px !important;
    bottom: 240px !important;
  }
  /* Slide 10 -  Paso 3a - Finalización cliente – Más dinero – 3 */
  .card--slide10 {
    height: 798px;
    bottom: 240px !important;
  }
  /* Slide 11 - Paso 3 - Finalización no cliente – 2 */
  .card--slide11 {
    height: 877px;
    bottom: 240px !important;
  }
  /* Slide 12 - Paso 3 - Finalización no cliente – 3 */
  .card--slide12 {
    height: 1034px;
    bottom: 240px !important;
  }
  /* Slide 13 - Paso 3a - Finalización CDLC */
  .card--slide13 {
    height: 461px;
    bottom: 240px !important;
  }
  /* Slide 14 -  Paso 4 - Retiro CDLC  */
  .card--slide14 {
    height: 517px;
    bottom: 360px !important;
  }
  /* Slide 15 -  Paso 4 - Depósito  */
  .card--slide15 {
    height: 472px;
    bottom: 360px !important;
  }
  /* Slide 16 -  Paso 4 - No disponible */
  .card--slide16 {
    height: 449px;
    bottom: 360px !important;
  }
  /* slide3 - Paso 3a - Finalización cliente – Cuenta cargada – 1 */
  /* slide5 - Paso 3a - Finalización cliente – Validación exitosa */
  /* Slide 6 - Paso 3a - Finalización cliente - Nueva cuenta */
  /* Slide 8 -  Paso 3a - Finalización cliente – Más dinero – 2 */
  /* Slide 10 -  Paso 3a - Finalización cliente – Más dinero – 3 */
  /* Slide 11 - Paso 3 - Finalización no cliente – 2 */
  /* Slide 12 - Paso 3 - Finalización no cliente – 3 */
  .card__cuerpo--slide3,
  .card__cuerpo--slide5,
  .card__cuerpo--slide6,
  .card__cuerpo--slide8,
  .card__cuerpo--slide10,
  .card__cuerpo--slide11,
  .card__cuerpo--slide12 {
    height: 724px;
  }
  .card__cuerpo--slide3 p.txt-titulo-semi-hard:nth-child(1),
  .card__cuerpo--slide5 p.txt-titulo-semi-hard:nth-child(1),
  .card__cuerpo--slide6 p.txt-titulo-semi-hard:nth-child(1),
  .card__cuerpo--slide8 p.txt-titulo-semi-hard:nth-child(1),
  .card__cuerpo--slide10 p.txt-titulo-semi-hard:nth-child(1),
  .card__cuerpo--slide11 p.txt-titulo-semi-hard:nth-child(1),
  .card__cuerpo--slide12 p.txt-titulo-semi-hard:nth-child(1) {
    font-size: 18px;
  }
  .card__cuerpo--slide3 p.txt-titulo-semi-hard:nth-child(1) br,
  .card__cuerpo--slide5 p.txt-titulo-semi-hard:nth-child(1) br,
  .card__cuerpo--slide6 p.txt-titulo-semi-hard:nth-child(1) br,
  .card__cuerpo--slide8 p.txt-titulo-semi-hard:nth-child(1) br,
  .card__cuerpo--slide10 p.txt-titulo-semi-hard:nth-child(1) br,
  .card__cuerpo--slide11 p.txt-titulo-semi-hard:nth-child(1) br,
  .card__cuerpo--slide12 p.txt-titulo-semi-hard:nth-child(1) br {
    display: none;
  }
  /* Slide 14 -  Paso 4 - Retiro CDLC  */
  /* Slide 15 -  Paso 4 - Depósito */
  /* Slide 16 -  Paso 4 - No disponible */
  .card__cuerpo--slide14 > div:nth-child(1),
  .card__cuerpo--slide15 > div:nth-child(1),
  .card__cuerpo--slide16 > div:nth-child(1) {
    margin: 0 !important;
  }
  .card__cuerpo--slide14 > div:nth-child(1) .txt-titulo-semi-hard,
  .card__cuerpo--slide15 > div:nth-child(1) .txt-titulo-semi-hard,
  .card__cuerpo--slide16 > div:nth-child(1) .txt-titulo-semi-hard {
    font-size: 18px !important;
  }
  .card__cuerpo--slide14 div:not(div:nth-child(1)),
  .card__cuerpo--slide15 div:not(div:nth-child(1)),
  .card__cuerpo--slide16 div:not(div:nth-child(1)) {
    margin: 15px 0px;
  }
  .card__cuerpo--slide14 div .linea-separador,
  .card__cuerpo--slide15 div .linea-separador,
  .card__cuerpo--slide16 div .linea-separador {
    display: block;
    top: 4px !important;
  }
  /* slide3 - Paso 3a - Finalización cliente – Cuenta cargada – 1 */
  .card__cuerpo--slide3 {
    height: 645px;
    margin-top: 0px;
  }
  /* slide5 - Paso 3a - Finalización cliente – Validación exitosa */
  .card__cuerpo--slide5 {
    height: 653px;
    margin-top: 0;
  }
  .card__cuerpo--slide5 .container-seleccionar-cuenta {
    margin-top: 0;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 20% 15% 65%;
    grid-column-gap: 4%;
  }
  .card__cuerpo--slide5 .container-seleccionar-cuenta .botonera-small {
    margin-top: 15.5px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .card__cuerpo--slide5 .container-seleccionar-cuenta div:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .card__cuerpo--slide5 .linea-separador {
    bottom: 33px;
    top: auto;
  }
  /* Slide 6 - Paso 3a - Finalización cliente - Nueva cuenta */
  .card__cuerpo--slide6 {
    height: 920px;
    margin-top: 0;
  }
  .card__cuerpo--slide6 .container-cuenta {
    grid-template-rows: 46px 120px 100px 100px;
  }
  .card__cuerpo--slide6 .container-cuenta .botonera-small {
    align-self: flex-start;
    margin-top: 11.5px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .card__cuerpo--slide6 .container-cuenta .txt-sub-input-medium {
    margin-top: 5px;
  }
  .card__cuerpo--slide6 .linea-separador {
    bottom: 0px;
    top: auto;
  }
  /* Slide 7 - Paso 3a - Finalización cliente – Error validación */
  .card__cuerpo--slide7 {
    height: 662px;
    margin-top: 0;
  }
  .card__cuerpo--slide7 p.txt-titulo-semi-hard:nth-child(1) {
    font-size: 18px;
  }
  .card__cuerpo--slide7 p.txt-titulo-semi-hard:nth-child(1) br {
    display: none;
  }
  .card__cuerpo--slide7 .linea-separador {
    bottom: 0px;
    top: auto;
  }
  .card__cuerpo--slide7 .alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card__cuerpo--slide7 .alert a {
    font-size: 16px;
  }
  .card__cuerpo--slide7 div .linea-separador {
    display: block;
    top: 8px;
  }
  /* Slide 13 - Paso 3 - Finalización no cliente – 3 */
  .card__cuerpo--slide13 {
    margin-top: 0;
  }
  .card__cuerpo--slide13 p.txt-titulo-semi-hard:nth-child(1) {
    font-size: 18px;
  }
  .card__cuerpo--slide13 p.txt-titulo-semi-hard:nth-child(1) br {
    display: none;
  }
  .card__cuerpo--slide13 .linea-separador {
    bottom: 0px;
    top: auto;
  }
  .card__cuerpo--slide13 .alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card__cuerpo--slide13 .alert a {
    font-size: 16px;
  }
  .card__cuerpo--slide13 div .linea-separador {
    display: block;
    top: 8px;
  }
  /* Slide 8 -  Paso 3a - Finalización cliente – Más dinero – 2 */
  .card__cuerpo--slide8 {
    height: 704px;
  }
  /* Slide 10 -  Paso 3a - Finalización cliente – Más dinero – 3 */
  .card__cuerpo--slide10 {
    height: 727px;
  }
  .card__cuerpo--slide10 .cuenta-nueva {
    margin-top: 7px;
  }
  /* Slide 11 - Paso 3 - Finalización no cliente – 2 */
  .card__cuerpo--slide11 {
    height: 793px;
  }
  .card__cuerpo--slide11 .container-cuenta {
    margin-top: 0px;
  }
  .card__cuerpo--slide11 div:nth-child(9) .txt-sub-input-medium {
    display: block;
  }
  /* Slide 12 - Paso 3 - Finalización no cliente – 3 */
  .card__cuerpo--slide12 {
    height: 950px;
  }
  .card__cuerpo--slide12 .container-cuenta {
    margin-top: 0;
  }
  /* Slide 13 - Paso 3 - Finalización no cliente – 3 */
  .card__cuerpo--slide13 {
    height: 390px;
  }
  /* Slide 14 -  Paso 4 - Retiro CDLC  */
  .card__cuerpo--slide14 {
    height: 446px;
  }
  /* Slide 15 -  Paso 4 - Depósito */
  .card__cuerpo--slide15 {
    height: 401px;
  }
  /* Slide 16 -  Paso 4 - No disponible */
  .card__cuerpo--slide16 {
    height: 378px;
  }
  .card__cuerpo--slide16 .img-degradado {
    margin: 0 !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card__cuerpo--slide16 .img-degradado p,
  .card__cuerpo--slide16 .img-degradado a {
    margin-left: 42px;
  }
  .card__cuerpo--slide16 .img-degradado img {
    width: 148px;
    right: 6vw;
  }
  .card__cuerpo--slide16 br {
    display: block !important;
  }
  /* Slide 4 - Paso 3a - Validar identidad – 1 */
  .modal__cuerpo {
    grid-template-columns: repeat(4, 146px);
    grid-template-rows: 82px 220px;
    -webkit-column-gap: 56px;
       -moz-column-gap: 56px;
            column-gap: 56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  .modal__cuerpo div:nth-child(1) p {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .modal__cuerpo div:nth-child(1) p br {
    display: block;
  }
  .modal__cuerpo div:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }
  .modal__cuerpo div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .modal__cuerpo div:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .modal__cuerpo div:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  .modal__cuerpo div:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  .modal__cuerpo div:not(div:nth-child(1)) {
    height: 190px;
    grid-template-columns: 100%;
    grid-template-rows: 60% 20% 20%;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
    margin: 15px 0px;
    border: 1px dotted #eeeeee;
  }
  .modal__cuerpo div:not(div:nth-child(1)) img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .modal__cuerpo div:not(div:nth-child(1)) p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    text-align: center;
    padding: 0px 5px 0px 5px;
  }
  .modal__cuerpo div:not(div:nth-child(1)) button {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .modal__cuerpo div:not(div:nth-child(1)):nth-child(2) img, .modal__cuerpo div:not(div:nth-child(1)):nth-child(3) img {
    width: 114px;
  }
  .modal__cuerpo div:not(div:nth-child(1)):nth-child(4) img, .modal__cuerpo div:not(div:nth-child(1)):nth-child(5) img {
    width: 130px;
  }
  /* ----- ----- ----- ----- ----- */
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10vw;
  }
  .logo img {
    height: 46px;
  }
  .cuerpo {
    background-color: #f7f8f9;
    padding: 0%;
    row-gap: 0px;
    height: 92vh;
    grid-template-columns: 32.72% 60px auto;
    grid-template-rows: 127px repeat(4, 109px) auto;
    grid-template-areas: "lat-top           i-linea  titulo" "lateral-sim       i-sim    simulador" "lateral-sob       i-sob    sobre-vos" "lateral-forma     i-forma  forma-retiro" "lateral-est       i-est    estado-final" "lat-bot           i-foot  foot          ";
  }
  /* Slide 2 - Paso 2 - Identidad – 2 */
  /* Slide 3 - Paso 3a - Finalización cliente – Cuenta cargada – 1 */
  /* Slide 5 - Paso 3a - Finalización cliente – Validación exitosa */
  /* Slide 6 - Paso 3a - Finalización cliente - Nueva cuenta */
  /* Slide 7 - Paso 3a - Finalización cliente – Error validación */
  /* Slide 8 -  Paso 3a - Finalización cliente – Más dinero – 2 */
  /* Slide 10 -  Paso 3a - Finalización cliente – Más dinero – 3 */
  /* Slide 11 - Paso 3 - Finalización no cliente – 2 */
  /* Slide 12 - Paso 3 - Finalización no cliente – 3 */
  /* Slide 13 - Paso 3a - Finalización CDLC */
  /* Slide 14 -  Paso 4 - Retiro CDLC  */
  /* Slide 15 -  Paso 4 - Depósito */
  /* Slide 16 -  Paso 4 - No disponible */
  .cuerpo--slide2,
  .cuerpo--slide3,
  .cuerpo--slide5,
  .cuerpo--slide6,
  .cuerpo--slide7,
  .cuerpo--slide8,
  .cuerpo--slide10,
  .cuerpo--slide11,
  .cuerpo--slide12,
  .cuerpo--slide13,
  .cuerpo--slide14,
  .cuerpo--slide15,
  .cuerpo--slide16 {
    grid-template-rows: 127px repeat(4, 109px) auto !important;
  }
  /* Slide 2 - Paso 2 - Identidad – 2 */
  /* Slide 3 - Paso 3a - Finalización cliente – Cuenta cargada – 1 */
  .cuerpo--slide3 {
    height: 980px;
  }
  /* Slide 4 - Paso 3a - Validar identidad – 1 */
  .card--slide4 {
    height: auto;
    width: 904px;
    margin: 21px 28px 15px;
    right: 0 !important;
    bottom: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .card--slide4 .boton--derecha {
    bottom: 35px;
    left: 35px;
  }
  .card--slide4 div:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
  }
  .card--slide4 .card__separador {
    margin-top: 48px;
  }
  .card--slide4 .linea-separador {
    display: block !important;
    width: 773px;
  }
  .card--slide4 .card__botones {
    margin: 15px 64px 0px 0px;
  }
  /* Slide 5 - Paso 3a - Finalización cliente – Validación exitosa */
  .cuerpo--slide5 {
    height: 114vh;
  }
  /* Slide 6 - Paso 3a - Finalización cliente - Nueva cuenta */
  .cuerpo--slide6 {
    height: 1200px;
  }
  /* Slide 7 - Paso 3a - Finalización cliente – Error validación */
  .cuerpo--slide7 {
    height: 107vh;
  }
  /* Slide 8 -  Paso 3a - Finalización cliente – Más dinero – 2 */
  .cuerpo--slide8 {
    height: 1065px;
  }
  /* Slide 10 -  Paso 3a - Finalización cliente – Más dinero – 3 */
  .cuerpo--slide10 {
    height: 1147px;
  }
  /* Slide 11 - Paso 3 - Finalización no cliente – 2 */
  .cuerpo--slide11 {
    height: 1120px;
  }
  /* Slide 12 - Paso 3 - Finalización no cliente – 3 */
  .cuerpo--slide12 {
    height: 1300px;
  }
  /* Slide 13 - Paso 3a - Finalización CDLC */
  /* Slide 14 -  Paso 4 - Retiro CDLC  */
  /* Slide 15 -  Paso 4 - Depósito */
  .cuerpo--slide15 .container__resumen-credito {
    grid-template-rows: 18px repeat(3, 60px) 95px;
  }
  .cuerpo--slide15 .linea--15 {
    top: 30px !important;
  }
  /* Slide 16 -  Paso 4 - No disponible */
  .modal {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lat-top,
  .lateral-sim,
  .lateral-sob,
  .lateral-forma,
  .lateral-est,
  .lat-bot,
  .i-foot,
  .foot {
    display: block;
  }
  .lat-top,
  .lateral-sim,
  .lateral-sob,
  .lateral-forma,
  .lateral-est,
  .lat-bot,
  .i-linea,
  .i-sim,
  .i-sob,
  .i-forma,
  .i-est,
  .i-foot {
    background-color: #710005;
  }
  .lat-top,
  .lateral-sim,
  .lateral-sob,
  .lateral-forma,
  .lateral-est,
  .lat-bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .i-linea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .simulador__slider {
    margin-bottom: 0px;
  }
  .simulador__slider .slider-range {
    margin-bottom: 42px;
    grid-template-columns: 48px 1fr 1fr 48px;
  }
  .simulador__slider .slider-range :nth-child(5) {
    top: 6px;
  }
  .simulador__img {
    height: 85px;
  }
  .simulador__img img {
    right: 4vw;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
    width: 173px;
  }
  .simulador__img p {
    margin-left: 40px;
  }
  .simulador__cuota {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .simulador__cuota p:nth-child(2) {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .icono img {
    width: 90px;
    right: 16px;
    top: 14px;
    z-index: 300;
  }
  .datos {
    display: grid;
  }
  /* datos--slide2 - Slide2 - Paso 2 - Identidad – 2 */
  .datos--slide2 {
    grid-template-columns: 47% 47%;
    grid-template-rows: 50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: left;
    grid-column-gap: 6%;
    margin-bottom: 20px;
  }
  .datos--slide2 p:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .datos--slide2 p:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .datos--slide2 p:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .datos--slide2 p:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .cuerpo-final h2 br {
    display: none;
  }
  .cuerpo-final p br:nth-child(1) {
    display: none;
  }
  .cuerpo-final p br:nth-child(2) {
    display: block;
  }
}

@media (min-width: 1px) and (max-width: 380px) {
  .cuerpo--slide12 {
    grid-template-rows: 24px 52px 52px 1412px 52px !important;
  }
  .card__cuerpo--slide12 {
    height: 1247px;
  }
}

@media (min-width: 1px) and (max-width: 392px) {
  .cuerpo--slide3 {
    grid-template-rows: 24px 52px 52px 861px 52px !important;
  }
  .card__cuerpo--slide3 {
    height: 707px;
  }
  .cuerpo--slide8 {
    grid-template-rows: 24px 52px 52px 1028px 52px !important;
  }
  .card__cuerpo--slide8 {
    height: 874px;
  }
  .cuerpo--slide11 {
    grid-template-rows: 24px 52px 52px 1049px 52px !important;
  }
  .card__cuerpo--slide11 {
    height: 895px;
  }
}

@media (min-width: 1px) and (max-width: 390px) {
  .cuerpo--slide7 {
    grid-template-rows: 24px 52px 52px 788px 52px !important;
  }
}

@media (min-width: 576px) and (max-height: 790px) {
  .cuerpo,
  .cuerpo--slide2 {
    height: 700px;
  }
  .cuerpo--slide3 {
    height: 980px;
  }
  .cuerpo--slide5 {
    height: 1050px;
  }
  .cuerpo--slide6 {
    height: 1200px;
  }
  .cuerpo--slide7 {
    height: 912px;
  }
  .cuerpo--slide8 {
    height: 1065px;
  }
  .cuerpo--slide10 {
    height: 1147px;
  }
  .cuerpo--slide11 {
    height: 1120px;
  }
  .cuerpo--slide12 {
    height: 1300px;
  }
  .cuerpo--slide13 {
    height: 734px;
  }
}

@media (min-width: 577px) and (max-width: 790px) {
  .navbar {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .cuerpo,
  .footer,
  .navbar {
    width: 790px;
  }
  .card--active {
    width: 406px;
  }
  .card__cuerpo--slide11 .linea-separador,
  .card__cuerpo--slide12 .linea-separador {
    display: none !important;
  }
  .card__cuerpo--slide11 .container-cuenta--chico .txt-medium,
  .card__cuerpo--slide12 .container-cuenta--chico .txt-medium {
    font-size: 13px;
  }
  .card__cuerpo--slide11 .container-cuenta--chico .txt-input-medium,
  .card__cuerpo--slide12 .container-cuenta--chico .txt-input-medium {
    font-size: 10px;
  }
  .card__cuerpo--slide11 .container-cuenta--chico .card__terminos-conciciones p,
  .card__cuerpo--slide12 .container-cuenta--chico .card__terminos-conciciones p {
    font-size: 9px;
  }
  .grid-cuotas .recuadro-cuotas p:nth-child(1) {
    font-size: 18px;
  }
  .grid-cuotas .recuadro-cuotas p:nth-child(2) {
    font-size: 22px;
  }
  .grid-cuotas .img-degradado p:nth-child(1) {
    font-size: 14px !important;
  }
  .grid-cuotas .img-degradado p:nth-child(2) {
    font-size: 17px !important;
  }
  .grid-cuotas .img-degradado a {
    font-size: 12px;
  }
}

@media (min-width: 577px) and (max-width: 950px) {
  .cuerpo {
    grid-template-columns: 21.72% 60px auto;
  }
  .txt-lateral {
    font-size: 2vw;
    left: 10%;
  }
  .card__cuerpo--slide7 .linea-separador {
    display: none !important;
  }
}

@media (min-width: 951px) and (max-width: 1080px) {
  .txt-lateral {
    left: 30%;
  }
  .card__cuerpo .linea-separador {
    display: none;
  }
}

@media (min-width: 791px) and (max-width: 1199px) {
  .card__cuerpo--slide11 .linea-separador,
  .card__cuerpo--slide12 .linea-separador {
    bottom: 11px !important;
    top: auto !important;
  }
  .card__cuerpo--slide11 .container-cuenta--chico .txt-medium,
  .card__cuerpo--slide12 .container-cuenta--chico .txt-medium {
    font-size: 1.4vw;
  }
  .card__cuerpo--slide11 .container-cuenta--chico .txt-input-medium,
  .card__cuerpo--slide12 .container-cuenta--chico .txt-input-medium {
    font-size: 1.3vw;
  }
  .card__cuerpo--slide11 .container-cuenta--chico .card__terminos-conciciones p,
  .card__cuerpo--slide12 .container-cuenta--chico .card__terminos-conciciones p {
    font-size: 1.1vw;
  }
  .grid-cuotas .recuadro-cuotas p:nth-child(1) {
    font-size: 18px;
  }
  .grid-cuotas .recuadro-cuotas p:nth-child(2) {
    font-size: 22px;
  }
  .grid-cuotas .img-degradado p:nth-child(1) {
    font-size: 1.2vw !important;
  }
  .grid-cuotas .img-degradado p:nth-child(2) {
    font-size: 1.8vw !important;
  }
  .grid-cuotas .img-degradado a {
    font-size: 1.1vw;
  }
}

@media (min-width: 577px) and (max-width: 1199px) {
  .card__cuerpo .linea-separador {
    display: none;
  }
  .card__cuerpo--slide5 .container-seleccionar-cuenta {
    grid-template-columns: 49% 49%;
    grid-template-rows: 36px 18px auto;
    grid-column-gap: 2%;
  }
  .card__cuerpo--slide5 .container-seleccionar-cuenta .botonera-small {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}

@media (min-height: 1050px) {
  .cuerpo--slide3 {
    height: 94vh;
  }
  .cuerpo--slide8 {
    height: 94vh;
  }
  .cuerpo--slide10 {
    height: 94vh;
  }
  .cuerpo--slide11 {
    height: 94vh;
  }
}

@media (min-width: 1200px) {
  .card--active {
    bottom: 30px;
  }
  .cuerpo {
    grid-template-columns: 32.72% 60px 800px;
  }
  .img-degradado--slide16 a,
  .img-degradado--slide16 p {
    padding-right: initial;
  }
}

@media (min-width: 1800px) {
  .card--slide10 {
    height: 800px;
  }
  .card--slide11 {
    height: 880px;
  }
  .card--slide12 {
    height: 1036px;
  }
  .card--slide13 {
    height: 463px;
  }
  .card--slide14 {
    height: 519px;
  }
  .card--slide15 {
    height: 474px;
  }
  .card--slide16 {
    height: 451px;
  }
}
