<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="css/styles.css" rel="stylesheet">
    <title>Paso 2 - Identidad – 2</title>
  </head>

  <body>
    <div class="navbar navbar--sombra">
      <div class="logo">
        <img alt="" src="/assets/img/mobile/__FULL-COLOR.png" class="mobile">
          <img alt="" src="/assets/img/desktop/__FULL-COLOR-desktop.png" class="desktop">
      </div>
    </div>
    <div class="cuerpo cuerpo--slide2">
      <div class="lat-top"></div>
      <div class="i-linea">
        <div class="circulo"></div>
        <div class="linea linea--roja linea-1"></div>
      </div>
      <div class="titulo"><h2 class="title">Solicitá tu crédito ahora</h2></div>
      <div class="i-sim">
        <div class="icono">
          <img alt="" src="/assets/ico/mobile/simulador-check.svg" class="mobile">
          <img alt="" src="/assets/ico/desktop/icon-simulador-check-desktop.svg" class="desktop">
        </div>
        <div class="linea linea--roja linea-2 linea-2--slide2"></div>
      </div>
      <div class="lateral-sim">
        <p class="txt-lateral txt--rojo">Simulador</p>
      </div>
      <div class="card card--check simulador">
        <p class="card-title">Simulador</p>
        <span class="--rotar check"></span>
      </div>
      <div class="i-sob">
        <div class="icono">
          <!-- <img src="/assets/ico/mobile/sobre-vos-active.svg" alt="" /> -->
          <img alt="" src="/assets/ico/mobile/sobre-vos-active.svg" class="mobile">
        <img alt="" src="/assets/ico/desktop/icon-sobrevos-active-desktop.svg" class="desktop">
        </div>
        <div class="linea linea--gris linea-3 linea-3--slide2"></div>
      </div>
      <div class="lateral-sob">
        <p class="txt-lateral txt--blanco txt-lateral--active">Sobre vos</p>
      </div>
      <div class="card card--sombra card--active card--slide2 sobre-vos">
        <div class="card__header">
          <div>
            <p class="card-title">Sobre vos</p>
            <span class="--rotar arrow"></span>
          </div>
          <hr class="linea-separador">
        </div>
        <div class="datos datos--slide2">
          <p class="txt-medium">Cédula de identidad *</p>
          <input type="text" class="input input--margin" placeholder="1.234.567-8">
          <p class="txt-medium">Celular *</p>
          <input type="text" class="input input--margin" placeholder="09">
        </div>
        <div class="card__terminos-conciciones">
          <div class="checkbox" id="checkbox">
            <input type="checkbox" activate="activarCheckbox()" id="checkbox-1">
            <label for="checkbox-1"></label>
          </div>
          <p>Acepto <a href="#">términos y condiciones</a></p>
        </div>
        <div class="desktop relleno relleno--slide2"></div>
        <div class="card__txt">
          <p>*Campos obligatorios</p>
        </div>
        <div class="card__separador">
          <hr class="linea-separador">
        </div>
        <div class="card__botones">
          <button (click)="${event-handler}(${event})" class="boton boton--outline-primary boton--vovler">
            Volver
          </button>
          <button (click)="${event-handler}(${event})" class="boton boton--primary">
            Continuar
          </button>
        </div>
      </div>
      <div class="i-forma">
        <div class="icono icono--desactivado">
          <img alt="" src="/assets/ico/mobile/retiro2.svg">
        </div>
        <div class="linea linea--gris linea-3"></div>
      </div>
      <div class="lateral-forma">
        <p class="txt-lateral txt--gris">Forma de retiro</p>
      </div>
      <div class="card card--sombra card--disabled forma-retiro">
        <p>Forma de retiro</p>
      </div>
      <div class="i-est">
        <div class="icono icono--desactivado">
          <img alt="" src="/assets/ico/mobile/final2.svg">
        </div>
      </div>
      <div class="lateral-est">
        <p class="txt-lateral txt--gris">Estado final</p>
      </div>
      <div class="card card--sombra card--disabled estado-final">
        <p>Estado final</p>
      </div>
      <div class="lat-bot"></div>
      <div class="i-foot"></div>
      <div class="foot"></div>
    </div>
    <div class="footer">
      <div class="footer__txt">
        <p>Legales</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo
          dui, interdum laoreet auctor vel, congue vitae ex.
        </p>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
