<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="css/styles.css" rel="stylesheet">
    <title>Paso 1 - Crédito – 2</title>
  </head>

  <body>
    <div class="navbar navbar--sombra">
      <div class="logo">
        <img alt="" src="/assets/img/mobile/__FULL-COLOR.png" class="mobile">
        <img alt="" src="/assets/img/desktop/__FULL-COLOR-desktop.png" class="desktop">
      </div>
    </div>
    <div class="cuerpo cuerpo--slide1">
      <div class="lat-top"></div>
      <div class="i-linea">
        <div class="circulo"></div>
        <div class="linea linea--roja linea-1"></div>
      </div>
      <div class="titulo"><h2 class="title">Solicitá tu crédito ahora</h2></div>
      <div class="i-sim">
        <div class="icono">
          <img alt="" src="/assets/ico/mobile/simulador-active.svg" class="mobile">
          <img alt="" src="/assets/ico/desktop/icon-simulador-active.svg" class="desktop">
        </div>
        <div class="linea linea--gris linea-2"></div>
      </div>
      <div class="lateral-sim">
        <p class="txt-lateral txt--blanco txt-lateral--active">Simulador</p>
      </div>
      <div class="card card--sombra card--active card--slide1 simulador">
        <div class="card__header">
          <div>
            <p class="card-title">Simulador</p>
            <span class="--rotar arrow"></span>
          </div>
          <hr class="linea-separador">
        </div>
        <div class="simulador__slider">
          <div class="slider-range" id="slider-range1">
            <p class="txt-medium">Quiero</p>
            <input type="text" value="$500" class="input-label input-label--moneda" id="input-moneda" onkeypress="enterInputMoneda(event)">
            <input type="button" value="-" class="boton--primary boton-slider" onclick="sumar_dinero()">
            <p class="txt-slider">$XXXX</p>

            <div class="grad range-slider" id="box-slider1" style="--min: 0;
                --max: 100000;
                --step: 500;
                --value: 500;
                --text-value: '200';
                --prefix: '$';">
              <input type="range" value="500" id="slider1" max="100000" min="0" name="slider1" onchange="show_slide1_value(this.value)" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify((+this.value).toLocaleString()))" onmousemove="show_slide1_value(this.value)" step="500">
              <div class="range-slider__progress"></div>
            </div>
            <p class="txt-slider">$XXXXX</p>
            <input type="button" value="+" class="boton--primary boton-slider" onclick="restar_dinero()">
          </div>
          <div class="slider-range">
            <p class="txt-medium">¿En cuántas cuotas?</p>
            <input type="text" value="1" class="input-label" id="input-cuota" onkeypress="enterInputCuota(event)">
            <input type="button" value="-" class="boton--primary boton-slider" onclick="sumar_cuota()">
            <p class="txt-slider">X</p>
            <div class="grad range-slider" id="box-slider2" style="--min: 1;
                --max: 99;
                --step: 1;
                --value: 1;
                --text-value: '1';">
              <input type="range" value="1" id="slider2" max="99" min="0" name="slider2" onchange="show_slide2_value(this.value)" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify((+this.value).toLocaleString()))" onmousemove="show_slide2_value(this.value)" step="1">
              <div class="range-slider__progress"></div>
            </div>
            <p class="txt-slider">XX</p>
            <input type="button" value="+" class="boton--primary boton-slider" onclick="restar_cuota()">
          </div>
        </div>
        <div class="simulador__img simulador__img--degradado">
          <p class="txt-medium">Monto a pagar por mes*</p>
          <p>$XXXX</p>
          <img alt="" src="/assets/ico/mobile/dollar.svg">
        </div>
        <div class="simulador__cuota">
          <p class="txt-medium">Pagá tu primera cuota el</p>
          <p>XX / XX / XXXX</p>
        </div>
        <div class="card__txt">
          <p>
            * El monto a pagar por mes es aproximado. El monto exacto lo verás
            luego de verificar tu identidad.
          </p>
        </div>
        <div class="card__separador">
          <hr class="linea-separador">
        </div>
        <div class="card__botones">
          <button (click)="${event-handler}(${event})" class="boton--primary boton">
            Continuar
          </button>
        </div>
      </div>
      <div class="i-sob">
        <div class="icono icono--desactivado">
          <img alt="" src="/assets/ico/mobile/sobre-vos2.svg">
        </div>
        <div class="linea linea--gris linea-3"></div>
      </div>
      <div class="lateral-sob">
        <p class="txt-lateral txt--gris">Sobre vos</p>
      </div>
      <div class="card card--sombra card--disabled sobre-vos">
        <p>Sobre vos</p>
      </div>
      <div class="i-forma">
        <div class="icono icono--desactivado">
          <img alt="" src="/assets/ico/mobile/retiro2.svg">
        </div>
        <div class="linea linea--gris linea-3"></div>
      </div>
      <div class="lateral-forma">
        <p class="txt-lateral txt--gris">Forma de retiro</p>
      </div>
      <div class="card card--sombra card--disabled forma-retiro">
        <p>Forma de retiro</p>
      </div>
      <div class="i-est">
        <div class="icono icono--desactivado">
          <img alt="" src="/assets/ico/mobile/final2.svg">
        </div>
      </div>
      <div class="lateral-est">
        <p class="txt-lateral txt--gris">Estado final</p>
      </div>
      <div class="card card--sombra card--disabled estado-final">
        <p>Estado final</p>
      </div>
      <div class="lat-bot"></div>
      <div class="i-foot"></div>
      <div class="foot"></div>
    </div>
    <div class="footer">
      <div class="footer__txt">
        <p>Legales</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo
          dui, interdum laoreet auctor vel, congue vitae ex.
        </p>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
