<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="css/styles.css" rel="stylesheet">
    <title>Finalización - Aprobación – Depósitol</title>
  </head>

  <body>
    <div class="cuerpo-final cuerpo-final--deposito">
      <img alt="" src="/assets/ico/mobile/aprobado.svg">
      <h2>
        ¡Tu crédito está <br>
        aprobado!
      </h2>
      <p>
        Lo recibirás en <br>
        {{Cuenta Bancaria - Billetera}} <br>
        en {{Período de tiempo}}
      </p>
      <button class="boton">Volver a inicio</button>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
