<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="css/styles.css" rel="stylesheet">
    <title>Paso 4 - Retiro CDLC</title>
  </head>

  <body>
    <div class="navbar navbar--sombra">
      <div class="logo">
        <img alt="" class="mobile" src="/assets/img/mobile/__FULL-COLOR.png">
        <img alt="" class="desktop" src="/assets/img/desktop/__FULL-COLOR-desktop.png">
      </div>
    </div>
    <div class="cuerpo cuerpo--slide14">
      <div class="lat-top"></div>
      <div class="i-linea">
        <div class="circulo"></div>
        <div class="linea linea--roja linea-1"></div>
      </div>
      <div class="titulo"><h2 class="title">Solicitá tu crédito ahora</h2></div>
      <div class="i-sim">
        <div class="icono">
          <img alt="" class="mobile" src="/assets/ico/mobile/simulador-check.svg">
          <img alt="" class="desktop" src="/assets/ico/desktop/icon-simulador-check-desktop.svg">
        </div>
        <div class="linea linea--roja linea-2 linea-2--slide2"></div>
      </div>
      <div class="lateral-sim">
        <p class="txt-lateral txt--rojo">Simulador</p>
      </div>
      <div class="card card--check simulador">
        <p class="card-title">Simulador</p>
        <span class="--rotar check"></span>
      </div>
      <div class="i-sob">
        <div class="icono">
          <img alt="" class="mobile" src="/assets/ico/mobile/sobre-vos-check.svg">
          <img alt="" class="desktop" src="/assets/ico/desktop/icon-sobrevos-check-desktop.svg">
        </div>
        <div class="linea linea--roja linea-3 linea-3--slide3"></div>
      </div>
      <div class="lateral-sob">
        <p class="txt-lateral txt--rojo">Sobre vos</p>
      </div>
      <div class="card card--check sobre-vos">
        <p class="card-title">Sobre vos</p>
        <span class="--rotar check"></span>
      </div>
      <div class="i-forma">
        <div class="icono">
          <img alt="" class="mobile" src="/assets/ico/mobile/retiro-check.svg">
          <img alt="" class="desktop" src="/assets/ico/desktop/icon-retiro-check-desktop.svg">
        </div>
        <div class="linea linea--roja linea-4 linea-4--slide14"></div>
      </div>
      <div class="lateral-forma">
        <p class="txt-lateral txt--rojo">Forma de retiro</p>
      </div>
      <div class="card card--check forma-retiro">
        <p class="card-title">Forma de retiro</p>
      </div>
      <div class="i-est">
        <div class="icono">
          <img alt="" class="mobile" src="/assets/ico/mobile/final-active.svg">
          <img alt="" class="desktop" src="/assets/ico/desktop/icon-final-active-desktop.svg">
        </div>
      </div>
      <div class="lateral-est">
        <p class="txt-lateral txt--blanco">Estado final</p>
      </div>
      <div class="card card--active card--slide14 card--sombra estado-final">
        <div class="card__header">
          <div>
            <p class="card-title">Estado final</p>
            <span class="--rotar arrow"></span>
          </div>
          <hr class="linea-separador">
        </div>
        <div class="card__cuerpo card__cuerpo--slide14">
          <div>
            <p class="txt-titulo-semi-hard">¡Tu crédito está aprobado!</p>
          </div>
          <div class="container__sucursales">
            <p class="txt-input-medium">
              Pasá por cualquier sucursal o punto de atención de Crédito de la
              Casa a buscarlo, solo con tu cédula.
            </p>
            <a href="#">Ver sucursales</a>
          </div>
          <div class="container__resumen-credito">
            <div>
              <p>Resumen de tu crédito</p>
            </div>
            <div>
              <p class="txt-input-medium txt--gris">Cedula de identidad</p>
              <p class="txt-input-medium">1.234.567-0</p>
              <hr class="linea-separador">
            </div>
            <div>
              <p class="txt-input-medium txt--gris">Dinero solicitado</p>
              <p class="txt-input-medium">$XXXXXX</p>
            </div>
            <div>
              <p class="txt-input-medium txt--gris">Cantidad de cuotas</p>
              <p class="txt-input-medium">XX</p>
            </div>
            <div>
              <p class="txt-input-medium txt--gris">
                Vencimiento primera cuota
              </p>
              <p class="txt-input-medium">XX/XX/XX</p>
              <hr class="linea-separador">
            </div>
            <div>
              <p class="txt-input-medium txt--gris">Forma de retiro</p>
              <p class="txt-input-medium">Sucursal Crédito de la Casa</p>
            </div>
          </div>
        </div>
        <div class="card__separador">
          <hr class="linea-separador">
        </div>
        <div class="card__botones">
          <button (click)="${event-handler}(${event})" class="boton boton--outline-primary boton--vovler">
            Volver
          </button>
          <button (click)="${event-handler}(${event})" class="boton boton--active boton--primary" disabled="disabled">
            Finalizar
          </button>
        </div>
      </div>
      <div class="lat-bot"></div>
      <div class="i-foot"></div>
      <div class="foot"></div>
    </div>
    <div class="footer">
      <div class="footer__txt">
        <p>Legales</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo
          dui, interdum laoreet auctor vel, congue vitae ex.
        </p>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
