<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="css/styles.css" rel="stylesheet">
    <title>Paso 3a - Validar identidad – 1</title>
  </head>

  <body class="body">
    <div class="modal modal--slide4">
      <div class="card card--active card--slide4 card--sombra">
        <div class="boton--derecha">
          <button class="boton-close">X</button>
        </div>
        <div class="modal__cuerpo">
          <div>
            <p class="txt-input-medium">
              Necesitamos validar tu identidad. <br> Asegurate que tus datos puedan
              leerse correctamente en las fotos, que no haya ningún reflejo y se
              vea tu rostro completo.
            </p>
          </div>
          <div>
            <img alt="" src="/assets/ico/desktop/parte-adelante-ci.svg">
            <p>Parte de adelante <br> de la CI</p>
            <button class="boton-add">+</button>
          </div>
          <div>
            <img alt="" src="/assets/ico/desktop/parte-atras-ci.svg">
            <p>Parte de atrás <br> de la CI</p>
            <button class="boton-add">+</button>
          </div>
          <div>
            <img alt="" src="/assets/ico/desktop/foto-rostro.svg">
            <p>Foto de tu rostro</p>
            <button class="boton-add">+</button>
          </div>
          <div>
            <img alt="" src="/assets/ico/desktop/prueba-de-vida.svg">
            <p>Prueba de vida</p>
            <button class="boton-add">+</button>
          </div>
        </div>
        <div class="card__separador">
          <hr class="linea-separador">
        </div>
        <div class="card__botones">
          <button class="boton boton--outline-primary boton--vovler" (click)="${event-handler}(${event})">
            Volver
          </button>
          <button class="boton boton--primary" (click)="${event-handler}(${event})" disabled="disabled">
            Guardar
          </button>
        </div>
      </div>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
