<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="css/styles.css" rel="stylesheet">
    <title>Paso 4 - No disponible</title>
  </head>

  <body>
    <div class="navbar navbar--sombra">
      <div class="logo">
        <img alt="" src="/assets/img/mobile/__FULL-COLOR.png" class="mobile">
        <img alt="" src="/assets/img/desktop/__FULL-COLOR-desktop.png" class="desktop">
      </div>
    </div>
    <div class="cuerpo cuerpo--slide16">
      <div class="lat-top"></div>
      <div class="i-linea">
        <div class="circulo"></div>
        <div class="linea linea--roja linea-1"></div>
      </div>
      <div class="titulo"><h2 class="title">Solicitá tu crédito ahora</h2></div>
      <div class="i-sim">
        <div class="icono">
          <img alt="" src="/assets/ico/mobile/simulador-check.svg" class="mobile">
          <img alt="" src="/assets/ico/desktop/icon-simulador-check-desktop.svg" class="desktop">
        </div>
        <div class="linea linea--roja linea-2 linea-2--slide2"></div>
      </div>
      <div class="lateral-sim">
        <p class="txt-lateral txt--rojo">Simulador</p>
      </div>
      <div class="card card--check simulador">
        <p class="card-title">Simulador</p>
        <span class="--rotar check"></span>
      </div>
      <div class="i-sob">
        <div class="icono">
          <img alt="" src="/assets/ico/mobile/sobre-vos-check.svg" class="mobile">
          <img alt="" src="/assets/ico/desktop/icon-sobrevos-check-desktop.svg" class="desktop">
        </div>
        <div class="linea linea--roja linea-3 linea-3--slide3"></div>
      </div>
      <div class="lateral-sob">
        <p class="txt-lateral txt--rojo">Sobre vos</p>
      </div>
      <div class="card card--check sobre-vos">
        <p class="card-title">Sobre vos</p>
        <span class="--rotar check"></span>
      </div>
      <div class="i-forma">
        <div class="icono">
          <img alt="" src="/assets/ico/mobile/retiro2.svg" class="mobile">
          <img alt="" src="/assets/ico/desktop/icon-retiro-check-desktop.svg" class="desktop">
        </div>
        <div class="linea linea--roja linea-4 linea-4--slide14"></div>
      </div>
      <div class="lateral-forma">
        <p class="txt-lateral txt--rojo">Forma de retiro</p>
      </div>
      <div class="card card--sombra card--disabled forma-retiro">
        <p class="card-title">Forma de retiro</p>
      </div>
      <div class="i-est">
        <div class="icono">
          <img alt="" src="/assets/ico/mobile/final-active.svg" class="mobile">
          <img alt="" src="/assets/ico/desktop/icon-final-active-desktop.svg" class="desktop">
        </div>
      </div>
      <div class="lateral-est">
        <p class="txt-lateral txt--blanco">Estado final</p>
      </div>
      <div class="card card--sombra card--active card--slide16 estado-final">
        <div class="card__header">
          <div>
            <p class="card-title">Estado final</p>
            <span class="--rotar arrow"></span>
          </div>
          <hr class="linea-separador">
        </div>
        <div class="card__cuerpo card__cuerpo--slide16">
          <div>
            <p class="txt-titulo-semi-hard">¡Lo lamentamos!</p>
          </div>
          <div class="img-degradado img-degradado--slide16">
            <p class="txt-medium">
              Por ahora no tenemos una <br>
              oferta disponible para vos.
            </p>
            <a href="#">Reintentar con otra cédula</a>
            <img alt="" src="/assets/ico/mobile/coin.svg">
          </div>
        </div>
        <div class="card__separador">
          <hr class="linea-separador">
        </div>
        <div class="card__botones">
          <button (click)="${event-handler}(${event})" class="boton boton--outline-primary boton--vovler">
            Volver
          </button>
          <button (click)="${event-handler}(${event})" class="boton boton--active boton--primary" disabled="disabled">
            Finalizar
          </button>
        </div>
      </div>
      <div class="lat-bot"></div>
      <div class="i-foot"></div>
      <div class="foot"></div>
    </div>
    <div class="footer">
      <div class="footer__txt">
        <p>Legales</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo
          dui, interdum laoreet auctor vel, congue vitae ex.
        </p>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
