<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Paso 4 - No disponible</title>
  </head>

  <body>
    <div class="navbar navbar--sombra">
      <div class="logo">
        <img class="mobile" src="/assets/img/mobile/__FULL-COLOR.png" alt="" />
        <img
          class="desktop"
          src="/assets/img/desktop/__FULL-COLOR-desktop.png"
          alt=""
        />
      </div>
    </div>
    <div class="cuerpo cuerpo--slide16">
      <div class="lat-top"></div>
      <div class="i-linea">
        <div class="circulo"></div>
        <div class="linea linea--roja linea-1"></div>
      </div>
      <div class="titulo"><h2 class="title">Solicitá tu crédito ahora</h2></div>
      <div class="i-sim">
        <div class="icono">
          <img
            class="mobile"
            src="/assets/ico/mobile/simulador-check.svg"
            alt=""
          />
          <img
            class="desktop"
            src="/assets/ico/desktop/icon-simulador-check-desktop.svg"
            alt=""
          />
        </div>
        <div class="linea linea--roja linea-2 linea-2--slide2"></div>
      </div>
      <div class="lateral-sim">
        <p class="txt-lateral txt--rojo">Simulador</p>
      </div>
      <div class="simulador card card--check">
        <p class="card-title">Simulador</p>
        <span class="check --rotar"></span>
      </div>
      <div class="i-sob">
        <div class="icono">
          <img
            class="mobile"
            src="/assets/ico/mobile/sobre-vos-check.svg"
            alt=""
          />
          <img
            class="desktop"
            src="/assets/ico/desktop/icon-sobrevos-check-desktop.svg"
            alt=""
          />
        </div>
        <div class="linea linea--roja linea-3 linea-3--slide3"></div>
      </div>
      <div class="lateral-sob">
        <p class="txt-lateral txt--rojo">Sobre vos</p>
      </div>
      <div class="sobre-vos card card--check">
        <p class="card-title">Sobre vos</p>
        <span class="check --rotar"></span>
      </div>
      <div class="i-forma">
        <div class="icono">
          <img class="mobile" src="/assets/ico/mobile/retiro2.svg" alt="" />
          <img
            class="desktop"
            src="/assets/ico/desktop/icon-retiro-check-desktop.svg"
            alt=""
          />
        </div>
        <div class="linea linea--roja linea-4 linea-4--slide14"></div>
      </div>
      <div class="lateral-forma">
        <p class="txt-lateral txt--rojo">Forma de retiro</p>
      </div>
      <div class="forma-retiro card card--disabled card--sombra">
        <p class="card-title">Forma de retiro</p>
      </div>
      <div class="i-est">
        <div class="icono">
          <img
            class="mobile"
            src="/assets/ico/mobile/final-active.svg"
            alt=""
          />
          <img
            class="desktop"
            src="/assets/ico/desktop/icon-final-active-desktop.svg"
            alt=""
          />
        </div>
      </div>
      <div class="lateral-est">
        <p class="txt-lateral txt--blanco">Estado final</p>
      </div>
      <div class="estado-final card card--active card--sombra card--slide16">
        <div class="card__header">
          <div>
            <p class="card-title">Estado final</p>
            <span class="arrow --rotar"></span>
          </div>
          <hr class="linea-separador" />
        </div>
        <div class="card__cuerpo card__cuerpo--slide16">
          <div>
            <p class="txt-titulo-semi-hard">¡Lo lamentamos!</p>
          </div>
          <div class="img-degradado img-degradado--slide16">
            <p class="txt-medium">
              Por ahora no tenemos una <br />
              oferta disponible para vos.
            </p>
            <a href="#">Reintentar con otra cédula</a>
            <img src="/assets/ico/mobile/coin.svg" alt="" />
          </div>
        </div>
        <div class="card__separador">
          <hr class="linea-separador" />
        </div>
        <div class="card__botones">
          <button
            class="boton boton--outline-primary boton--vovler"
            (click)="${event-handler}(${event})"
          >
            Volver
          </button>
          <button
            class="boton boton--primary boton--active"
            (click)="${event-handler}(${event})"
            disabled
          >
            Finalizar
          </button>
        </div>
      </div>
      <div class="lat-bot"></div>
      <div class="i-foot"></div>
      <div class="foot"></div>
    </div>
    <div class="footer">
      <div class="footer__txt">
        <p>Legales</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo
          dui, interdum laoreet auctor vel, congue vitae ex.
        </p>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
