<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Finalización - Aprobación – Presencial</title>
  </head>

  <body>
    <div class="cuerpo-final">
      <img src="/assets/ico/mobile/aprobado.svg" alt="" />
      <h2>
        ¡Tu crédito está <br />
        aprobado!
      </h2>
      <p>Retiralo ya solo con tu cédula <br> en <br> {{CDLC o Red Pagos}}</p>
      <button class="boton">Volver a inicio</button>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
