<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Paso 3a - Validar identidad – 1</title>
  </head>

  <body class="body">
    <div class="modal modal--slide4">
      <div class="card--active card card--sombra card--slide4">
        <div class="boton--derecha">
          <button class="boton-close ">X</button>
        </div>
        <div class="modal__cuerpo">
          <div>
            <p class="txt-input-medium">
              Necesitamos validar tu identidad. <br> Asegurate que tus datos puedan
              leerse correctamente en las fotos, que no haya ningún reflejo y se
              vea tu rostro completo.
            </p>
          </div>
          <div>
            <img src="/assets/ico/desktop/parte-adelante-ci.svg" alt="" />
            <p>Parte de adelante <br> de la CI</p>
            <button class="boton-add">+</button>
          </div>
          <div>
            <img src="/assets/ico/desktop/parte-atras-ci.svg" alt="" />
            <p>Parte de atrás <br> de la CI</p>
            <button class="boton-add">+</button>
          </div>
          <div>
            <img src="/assets/ico/desktop/foto-rostro.svg" alt="" />
            <p>Foto de tu rostro</p>
            <button class="boton-add">+</button>
          </div>
          <div>
            <img src="/assets/ico/desktop/prueba-de-vida.svg" alt="" />
            <p>Prueba de vida</p>
            <button class="boton-add">+</button>
          </div>
        </div>
        <div class="card__separador">
          <hr class="linea-separador" />
        </div>
        <div class="card__botones">
          <button
            class="boton boton--outline-primary boton--vovler"
            (click)="${event-handler}(${event})"
          >
            Volver
          </button>
          <button
            class="boton boton--primary"
            (click)="${event-handler}(${event})"
            disabled
          >
            Guardar
          </button>
        </div>
      </div>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
