<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Paso 2 - Identidad – 2</title>
  </head>

  <body>
    <div class="navbar navbar--sombra">
      <div class="logo">
        <img
            class="mobile"
            src="/assets/img/mobile/__FULL-COLOR.png"
            alt=""
          />
          <img
            class="desktop"
            src="/assets/img/desktop/__FULL-COLOR-desktop.png"
            alt=""
          />
      </div>
    </div>
    <div class="cuerpo cuerpo--slide2">
      <div class="lat-top"></div>
      <div class="i-linea">
        <div class="circulo"></div>
        <div class="linea linea--roja linea-1"></div>
      </div>
      <div class="titulo"><h2 class="title">Solicitá tu crédito ahora</h2></div>
      <div class="i-sim">
        <div class="icono">
          <img
            class="mobile"
            src="/assets/ico/mobile/simulador-check.svg"
            alt=""
          />
          <img
            class="desktop"
            src="/assets/ico/desktop/icon-simulador-check-desktop.svg"
            alt=""
          />
        </div>
        <div class="linea linea--roja linea-2 linea-2--slide2"></div>
      </div>
      <div class="lateral-sim">
        <p class="txt-lateral txt--rojo">Simulador</p>
      </div>
      <div class="simulador card card--check">
        <p class="card-title">Simulador</p>
        <span class="check --rotar"></span>
      </div>
      <div class="i-sob">
        <div class="icono">
          <!-- <img src="/assets/ico/mobile/sobre-vos-active.svg" alt="" /> -->
          <img
          class="mobile"
          src="/assets/ico/mobile/sobre-vos-active.svg"
          alt=""
        />
        <img
          class="desktop"
          src="/assets/ico/desktop/icon-sobrevos-active-desktop.svg"
          alt=""
        />
        </div>
        <div class="linea linea--gris linea-3 linea-3--slide2"></div>
      </div>
      <div class="lateral-sob">
        <p class="txt-lateral txt-lateral--active txt--blanco">Sobre vos</p>
      </div>
      <div class="sobre-vos card--active card card--sombra card--slide2">
        <div class="card__header">
          <div>
            <p class="card-title">Sobre vos</p>
            <span class="arrow --rotar"></span>
          </div>
          <hr class="linea-separador" />
        </div>
        <div class="datos datos--slide2">
          <p class="txt-medium">Cédula de identidad *</p>
          <input
            class="input input--margin"
            type="text"
            placeholder="1.234.567-8"
          />
          <p class="txt-medium">Celular *</p>
          <input class="input input--margin" type="text" placeholder="09" />
        </div>
        <div class="card__terminos-conciciones">
          <div id="checkbox" class="checkbox">
            <input id="checkbox-1" type="checkbox" activate="activarCheckbox()"/>
            <label for="checkbox-1"></label>
          </div>
          <p>Acepto <a href="#">términos y condiciones</a></p>
        </div>
        <div class="relleno relleno--slide2 desktop"></div>
        <div class="card__txt">
          <p>*Campos obligatorios</p>
        </div>
        <div class="card__separador">
          <hr class="linea-separador" />
        </div>
        <div class="card__botones">
          <button
            class="boton boton--outline-primary boton--vovler"
            (click)="${event-handler}(${event})"
          >
            Volver
          </button>
          <button
            class="boton boton--primary"
            (click)="${event-handler}(${event})"
          >
            Continuar
          </button>
        </div>
      </div>
      <div class="i-forma">
        <div class="icono icono--desactivado">
          <img src="/assets/ico/mobile/retiro2.svg" alt="" />
        </div>
        <div class="linea linea--gris linea-3"></div>
      </div>
      <div class="lateral-forma">
        <p class="txt-lateral txt--gris">Forma de retiro</p>
      </div>
      <div class="forma-retiro card card--disabled card--sombra">
        <p>Forma de retiro</p>
      </div>
      <div class="i-est">
        <div class="icono icono--desactivado">
          <img src="/assets/ico/mobile/final2.svg" alt="" />
        </div>
      </div>
      <div class="lateral-est">
        <p class="txt-lateral txt--gris">Estado final</p>
      </div>
      <div class="estado-final card card--disabled card--sombra">
        <p>Estado final</p>
      </div>
      <div class="lat-bot"></div>
      <div class="i-foot"></div>
      <div class="foot"></div>
    </div>
    <div class="footer">
      <div class="footer__txt">
        <p>Legales</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo
          dui, interdum laoreet auctor vel, congue vitae ex.
        </p>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
