<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Finalización - Aprobación – Depósitol</title>
  </head>

  <body>
    <div class="cuerpo-final cuerpo-final--deposito">
      <img src="/assets/ico/mobile/aprobado.svg" alt="" />
      <h2>
        ¡Tu crédito está <br />
        aprobado!
      </h2>
      <p>
        Lo recibirás en <br />
        {{Cuenta Bancaria - Billetera}} <br />
        en {{Período de tiempo}}
      </p>
      <button class="boton">Volver a inicio</button>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
